html, body {height: auto; overflow: auto;}
.am-slider-default .am-viewport {max-height: 4000px;}
.am-slider-default .am-direction-nav a {top: 20px;}
.am-slides li header {text-align: center; font-size: 1.5rem; margin: 10px 0;}
.am-slides li header+img {width: 80% !important; max-width: 250px; margin: 0 auto;}
.am-slides li >div {padding: 10px;}
.am-slides li h4 {color: #0E90D2; text-align: center;}
.am-slides li p {font-size: 1.2rem; text-indent: 10px; margin-bottom: 0}
.am-slides li img {width: 90%; max-width: 350px; margin: 10px auto}
.toTop {display: none; cursor: pointer;}
.toTop:after {content: '\f0aa'; font-size: 27px; position: fixed; bottom: 0; right: 10px}