html, body {height: auto; overflow: auto;}

#anchor {width: 0; overflow-x: hidden; border-radius: 10px; padding: 10px 2px; position: fixed; right: 5px; top: 100px;}
#anchorArrow {width:20px; height: 20px; position: fixed; right: 0; top: 50%;}
#anchorArrow:hover+#anchor {width: 150px; border: 1px solid #aaa;}
#anchor a {width: 150px; display: block}
#anchor a.headline {text-align: center}

.contents {padding: 10px;}
.contents img {display: block; width: 90%; max-width: 300px; margin: 0 auto;}
.contents h3 {text-align: center;}
.contents p {text-indent: 10px; font-size: 1.2rem; margin: 10px 0;}
.contents>div {margin-bottom: 5px; border-bottom: 1px dotted blue}
#content1>div>p {text-align: center;}
#content2 .hint {color: red}




.toTop {display: none; cursor: pointer;}
.toTop:after {content: '\f0aa'; font-size: 27px; position: fixed; bottom: 0; right: 10px}