html,body {height: auto; overflow: auto}
.am-panel h4:before {content: '\f0d7'}
.am-panel h4.up:before {content: '\f0d8'}
.am-panel-bd {padding-top: 0rem}
.am-panel-bd p {font-size: 1.3rem; margin: 0rem}
.am-panel-bd p.hint {font-size: 1.5rem; color: rgb(227, 164, 110); margin-bottom: 1rem; margin-top: 1rem;}
