html, body {height: auto; overflow: auto;}
.inner {box-sizing: border-box; margin: 3% 4% 0 4%}
h1 {margin: 5px 10px;}
.inner h3 {width: 100%; text-align: center}
.inner p {text-indent: 10px; margin: 0 0 8px 0; font-size: 13px}
.logo {position: absolute; bottom: 10px; right: 10px; width: 40px}
.toTop {display: none; cursor: pointer}
.toTop:after {content: '\f0aa'; font-size: 27px; position: fixed; bottom: 0; right: 10px}