*{
	margin:0;
	padding: 0;
	font-family: "Microsoft Yahei";
}

ul, li {
	list-style-type: none;
}

a {
	text-decoration: none;
}

.exHead{
	width: 100%;
	height: auto;	
	padding: 12px 0;
	box-shadow:0 4px 4px #e9e9e9;
	background-color: #f6f6f6;
	position: fixed;
	z-index: 10;
}

.header{
	width: 960px;
	margin: 0 auto;
	position: relative;
}

.header img{
	display: inline-block;
	vertical-align: middle;
}

.header img:first-child {
	width: 84px;
	height: 100px;
}

.header img:first-child + img {
	padding-left: 20px;
	width: 328px;
	height: 47px;
}

#nav{
	width: 426px;
	text-align: center;
	position: absolute;
	right: 0;
	bottom: 5px;
}

#nav a{
	margin-right: 40px;
	float: left;
	color: #888686;
	font-size: 14px;
}

#nav a.active {
	color: #399ce1;
}

.contents {
	margin: 0 auto;
	width: 960px;
}

#img_text {
	position: relative;
}

#img_text > p   {
	font-size: 14px;
	position: absolute;
	top: 137px;
	left: 46px;
}

#img_text > p a, #img_text > p span {
	font-family: "SimSun";
}

p.text {
	font-size: 14px;
	text-indent: 30px;
	line-height: 29px;
	margin: 19px 0;
	color: #888686;
}

.text_img {
	width: 700px;
	margin: 0 auto;
}

.text_img div{
	display: inline-block;
  width: 0;
  height: 0;
  line-height: 0;
  border-bottom: 10px solid transparent;
  border-top: 10px solid transparent;
  border-left: 20px solid #F0F0F0;
}

.text_img span {
	color: #888686;
	vertical-align: super;
}

#prevR, #prevL {
	font-size: 14px;
	line-height: 40px;
	border: 1px solid #ecebeb;
	box-shadow: 3px 3px 3px #CBCBCB;
	text-align: center;
	width: 270px;
	height: 40px;
	margin-bottom: 40px;
}
#prevR a, #prevL a {
	color: #E5A671;
}


#prevR {
	float: left;
}

#prevL {
	float: right;
}

.clear {
	clear: both;
}

/*尾部*/
#bottom {
	margin: 0 auto;
	background: #399ce1;
}

#bottom > div#bottom_up {
	width: 960px;
	height: auto;
	padding: 15px 0;
	margin: 0 auto;
	position: relative;
}

#bottom_up > div {
	height: auto;
	padding-left: 16%;
}

#bottom_up a {
	color: #bce1fa;
}

#bottom_up > div > div {
	font-size: 0;
	display: inline-block;
	width: 381px;
	height: 147px;
	vertical-align: top;
}

#bottom_up > div > div p {
	color: #bce1fa;
	font-size: 11px;
	line-height: 43px;
}

#bottom_up > div > div p:first-child {
	color: #fff;
	font-size: 14px;
	line-height: 28px;
}

#bottom > #bottom_down {
	display: block;
	height: 30px;
	line-height: 30px;
	text-align: center;
	font-size: 14px;
	color: #979696;
	background: #504f4f;
	text-decoration: none;
}

#bottom_phone, #bottom_email, #bottom_address {
	padding-left: 45px;
}

#bottom_phone {
	background: url(../img/bottom_phone.jpg) no-repeat;
	background-size: 32px;
	background-position: left center;
}

#bottom_email {
	background: url(../img/bottom_email.jpg) no-repeat;
	background-size: 32px;
	background-position: left center;
}

#bottom_address {
	background: url(../img/bottom_address.jpg) no-repeat;
	background-size: 32px;
	background-position: left center;
}

#bottom_up #opactity {
	height: 182px;
	position: absolute;
	top: 22px;
	left: 0;
	background: url(../img/two_imension_code.png) no-repeat;
	background-size: 143px;
	opacity: 0.85;
	z-index: 20;
}