html, body {height: auto; overflow: auto;}
.am-figure-default img, .am-figure-one img {max-width: 65%}
.am-figure-default img {border:none;}
.am-serif {text-align: center; margin-bottom: 3px}
.introductions {background-color: rgba(186, 198, 211, 0.34)}
.introductions p {font-size: 1rem; margin: 5px; text-indent: 15px;}
.toTop {display: none; cursor: pointer}
.toTop:after {content: '\f0aa'; font-size: 27px; position: fixed; bottom: 0; right: 10px}