<!DOCTYPE html>
<html lang="zh-cn">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="keywords" content="益家行,公益,益家行公益,yijiaxing,public welfare,org">
	<title>益家行户外阅读拓展中心</title>
	<link rel="stylesheet" type="text/css" href="css/aboutUs.css">
	<link rel="stylesheet" type="text/css" href="css/include.css">
	<script src="js/jquery.min.js"></script>
	<script type="text/javascript" src="js/aboutUs.js"></script>
</head>
<body>
	<div class="exHead">
		<div class="header">
			<a href="index.php"><img src="img/logo.png"></a>
			<a href="index.php"><img src="img/outdoor_Reading.png"></a>
			<div id="nav">
				<a href="index.php"> 初识</a>
				<a href="fromHeart.php">从心出发</a>
				<a href="read.php">阅读推荐</a>
				<a href="#" class="active">关于益家人</a>
				<a href="problem.php" style="margin-right: 0">常见问题</a>
			</div>
		</div>
	</div>
	<div style="height: 134px"></div>
	<!-- 每个人的简介-->
	<div id="imgOfUs">
		<div  class="imgOfHead">
			<img src="img/xiaocao.png" alt="小草" />
			<p>小草</p>
			<div></div>
		</div>
		<div class="imgOfHead">
			<img src="img/zhima.png" alt="" />
			<p>芝麻</p>
			<div></div>
		</div>
		<div class="imgOfHead">
			<img src="img/huamei.png" alt="" />
			<p>话梅</p>
			<div></div>
		</div>
		<div class="imgOfHead">
			<img src="img/who.png" alt="who" />
			<p>Who?</p>
			<div></div>
		</div>
		<div id='tag'>
			<img src="img/tag.png" height="194" width="169" alt="">
		</div>
		<div id="family">
			<img src="img/family.png" height="56" width="298" alt="">
		</div>
	</div>
	
	<div id="contents">
		<div id="xiaocao">
			<div class="content" id="xiaocao_content1">
				<img src="img/xiaocao_monolog.png" height="95" width="202" alt="" /><p>By 小草(邵文静)</p>
			</div>
			<div class="content">
				<h4 class="headline">我为什么想做益家行</h4>
				<div id='xiaocao_content2_text'>
					<p>我把自己定位为一个“公益阅读推广人”，虽然在间隔年期间我是一个“学习者”，而且是自由学习者。</p>
					<p>这一年我在不断的探索和尝试：到大学听课、到一个机构并协助其发展、申请丰田的梦想基金但失败、拍摄筹资建校视频、完成设计思维反思以及参与式评估设计思维工作坊、为幼儿园写教案、在悠贝亲子图书馆做亲子阅读指导、做益家行亲子公益旅行的公益创业……在别人的眼中，他们不知道我是到底要做什么，并常常受到朋友友善的质疑。快8月了，距离间隔年目标的结束时间还有2个月，我会延续间隔年还是已经可以决定未来的价值方向呢？我想，路已渐渐清晰。</p>
					<p>因为坚信的一点，家庭成长与社会进步一定是相互影响的非常重要的关系，家庭参与公益不仅仅是在做好事，对家庭的成长也会有更大的帮助，孩子在少儿时期，家长对其的影响是最大的，我坚信公益体验可以影响到家长在家庭教育上做出积极的改变。</p>
				</div>
				
				<div id="xiaocao_in_class">
					<img src="img/xiaocao_content.png" height="361" width="482" alt="" />
					<p>小草在白路小学上课 2014-12-01</p>
				</div>
			</div>
			<div class="content">
				<h4 class="headline">启发我做益家行的契机是什么</h4>
				<p> 益家行始于一个筹款项目“筑爱黔行”：为贵州白路小学筹资建校。实际上这也是我辞职做间隔年的一个原因，机缘巧合可以去将自己内心构建的一种公益模式实现出来，它是基于我心中的一个美好的画面，也许可以叫梦想，希望让城市和乡村更贴近，而不仅仅是让外面的人依靠感性或所谓的理性判断去帮助他人，而又不一定能够收获自身的成长。而传统的方式已经造成大家对公益的误区：自己家都没有顾好，还谈什么帮助别人？</p>
				<p>其实公益助人助己，家庭成长于社会责任的行动是应该并存的。</p>
				<p> 回归每个人的成长，每个城市中身在福中的孩子们的成长历练，传统的方式也已经不足够了，否则每个家庭的家长也不必忧心于此；而且很多不错的公益组织所做的事情，实际上与我们的生活是息息相关的，但是很多的家庭因公共利益而受惠，却不知道是很多的公益组织在与政府一起努力，许多家庭的成长需求，其实可以通过某领域的公益组织得到学习和成长，但也常常因为不知道从哪里了解和学习，没有链接的桥梁。</p>
			</div>
			<div class="content" id="xiaocao_content4">
				<h4 class="headline">我想做成怎样的事情</h4>
				<p>我希望能做一个整合资源，并能让各方参与者体验感悟及收获成长。将一件看似复杂的事情做简单。让阅读与当下生活体验有所积极响应。</p>
				<div>
					<div id ='triangle_And_SoOn'>
						<div id='triangle' ></div>
						<div id='circle'></div>
						<div id="square"></div>
						<p style="position:absolute;left:53px; top:18px;font-size:14px;color:#000;text-indent:0;text-align:center">绘本<br/>公益图书馆</p>
						<p style="position:absolute;left:5px; top:108px;font-size:14px;color:#fff;text-indent:0;text-align:center">社区<br/>家庭成长项目</p>
						<p style="position:absolute;left:112px; top:118px;font-size:14px;color:#fff;text-indent:0;text-align:center">亲子公益<br/>旅行</p>
					</div>
					<!-- <img src="img/mountaindown.png" height="201" width="302" alt="" /> -->
					<div class="text">
						<p>在一个安全的环境下:</p>
						<p>让家庭亲子互动并有机会与陌生人友善地交际；</p>
						<p>让不同家庭的孩子不仅有机会看懂啊外面的x世界，更改有所体验；</p>
						<p>让城市与乡村连接，相互交流，感受彼此，给生活不一样的惊喜；</p>
						<p>让每个人都有机会体验，有自身收获及成长，重新认识公益；</p>
						<p>让每个人都有机会接触，接触到不同公益组织的信息，了解与生活息息相关感兴趣的公益组织。</p>
					</div>
				</div>
			</div>
			<div class="content">
				<h4 class="headline">为什么说要以亲子的形式鼓励大家参与呢</h4>
				<p>我在间隔年之前，在一家儿童阅读推广公益机构工作。根据多年的实战经验与后期的理论学习，我相信儿童的潜能是不可估量的。孩子在少儿时期，家长对其的影响是最大的，我坚信公益体验可以影响到家长积极的做出改变。</p>
				<p>孩子在少儿时期的成长代表了世界未来的模样。</p>
				<p> 经过对潜在家庭的前期调研，大部分的家长表示一直期待能够找到重视活动体验、使孩子有所成长的户外亲子团。家庭对于孩子的生存能力、交际能力、抗逆力、视野等一系列的成长需求是非常大的。</p>
				<p>每一个家庭，父母与孩子之间某些方面都是彼此的一面镜子。</p>
				<p>孩子需要成长，家长也同样是需要成长的。在当代家庭教育的亲子互动方式中，许多家庭是力不从心的。同时，在孩子的少儿时期，模仿能力是相当强的，不仅是视觉上的模仿，家长的情绪变化也是在潜移默化的影响着孩子的性格。</p>
				<p>特别的问题，在优秀的公益组织中都可以学习到与生活息息相关的“常识”。</p>
				<p>孩子在三岁的时候甚至更早，就会问爸爸妈妈一个问题：我是从哪里来的？为什么他/她和我不一样？</p>
				<p>在与许多家长聊起环保的时候，家长表示：其实这些跟我们的生活都很相关，但是就是没有人告诉我们在生活中要怎么注意？也没有在人们心中深入传播与人们生活相关的环保理念，如果说之前都懂的话，并且让人们深有体验，也许生活就不一样。所以现在要做的就是让大家知道环保与每个人的生活都是息息相关的，尤其是要让现在的孩子有所体验和认同。</p>
				<p>同样我相信愿意带孩子来参加这样的项目的家长们，也是认同孩子的潜能是可以被挖掘的。同时每一个家长也都是热爱公益，热爱学习的。每个人的成长，一定是需要社会共同的努力，是相互影响的结果。</p>
			</div>
			<div class="content">
				<h4 class="headline">为什么要让各领域公益组织参与其中呢</h4>
				<p>我是一个儿童阅读公益推广人，在儿童阅读中，图与文字共同讲述一个故事，绘本尤其特别，为什么很多人在读了绘本之后会有共鸣？那是因为绘本大师不仅懂得画和配文字，而且相当懂得心理学。绘本当中涉及的领域十分广泛，相关性教育、性别教育、生理健康、环保、生理缺陷、公平意识、认识贫富差距、反歧视等等方面都有非常棒的绘本作品，对各个领域公益行动的长期影响有相当棒的支持作用。</p>
				<p>影响儿童，不仅仅是直接影响儿童就可以，社会就是一个包容各类人群的地方，影响其他人群，也是间接教育儿童的行为。</p>
				<p>解决当下问题，可能是成年人的事情，有时候孩子也可以参与；从长远的角度考虑，影响现在的孩子，就是在塑造未来社会的样子。<img src="img/FlyingBook.png" height="35" width="37" alt="" style="vertical-align:middle"></p>
			</div>
		</div>

		<div id="zhima">
			<div class="content">
				<img src="img/zhima_2.jpg" height="95" width="206" alt="">
				<p style="display:inline-block;vertical-align:center">by 芝麻</p>
				<br	/>
				<div id="zhimaL">
					<p style="font-size:14px;">Intro: 芝麻（全名  罗杰芝）,专业执业律师，从事法律服务六年，现任益家行法律顾问志愿者</p>
				 	<p>俗话说：读万卷书，行万里路。益家行把阅读和家庭旅行结合起来，特别是美丽乡村的公益旅行，不仅能帮助父母更好的进行亲子阅读，还能在深入乡村生活的旅行中，了解当地民俗，学习农活，培养孩子的社会责任感，并且加强亲子交流。益家行这一创办理念，我深感赞同，所以也欣然成为其中一名志愿者。</p>
			    <p>作为法律工作者，也作为益家行诞生的其中一名见证人，益家行的创办团队向我咨询得更多的是相伴随的法律问题，从合法的登记、到各种合同的起草、旅途路上意外等风险的防范，意外保险的购买，我们都从专业的法律角度进行了谨慎的设计和考虑，只希望益家行能给予参加户外阅读旅行的家庭提供安全、稳妥的旅程，双方在诚信遵守契约关系的基础上，共同创造阅读和户外活动带来无限乐趣的美好旅途。</p>
	       </div>
				<div id="zhimaR">
					<img src="img/zhima_1.jpg" alt="" />
				</div>

			</div>
		</div>

		<div id="huamei">
			<div class="content">
				<img class="center" src="img/huamei_1.jpg" style="margin-top:20px" alt="" />
				<p class="center">Intro：话梅（全名康华梅），从事单位组团的策划工作3年，社会企业及公益服务志愿者，现任益家行广州负责人</p>
				<img class="center" src="img/huamei_2.jpg" height="95" width="206" style="margin-top:20px" alt="">
				<p class="center">by 话梅</p>
			 	<p>2012年的2月份，是我第一次前往贵州黔东南开展活动，山区里孩子们的天真活泼，村民的善良淳朴，山际间的辽阔壮美让我对那个地方无比留恋。</p>
		    <p>这次在小草的组织下，我们创办益家行，希望能与更多志趣相投的伙伴共同经历一些旅程，发现更好的自己。如果你心中有坚定的信念，想要探索内心的自己，欢迎加人我们，我们将是一家人！</p>
			</div>
		</div>

		<div id="Who">
			<div class="content">
				<img src="img/recruit.png" height="95" width="206" alt="">
        <p>此处鸣谢一直以来对益家行付出过智慧与行动的伙伴（排名不分先后）:朱楚茗、丁浪、黄小倩、徐俏云、周少雄、周少伟、小兔、邓武浩、黄莹、JESSIE老师、CHERRY老师、盛丹老师、曲栋老师、顾远老师、LK、梁海光、陈浩然、肖瑞昀、文嘉欣、吴江华、刘辉。</p>
				<p>如果你喜欢到处走走，习惯随时随地阅读，认同益家行的理念，欢迎加入我们的大家庭！在这里，我们希望你能乐于团队协作，敢想实干，让自己的个性和智慧一起飞扬～</p>
				<p style="display:inline-block"> 只要有好点子，并全身心投入，总能在益家行找到你的坑！我们需要但</p><p style="color:#399ce1;display:inline-block">不仅限于</p><p style="display:inline-block">以下职位：</p>
			</div>
			<div class="content">
				<h4 class="headline">益家行创业伙伴</h4>
				<p style="color:#e5a673">－人力资源中心负责人</p>
				<p >宣讲会计划、培训计划</p>
				<p style="color:#e5a673">－推广宣传中心负责人</p>
				<p>微信推广、网站推广、活动发布</p>
				<p style="color:#e5a673">－VI设计总监</p>
				<p>VI设计（包括微信公众号配图、宣传册、海报、纪念品等）</p>
			</div>
			<div class="content">
				<h4 class="headline">项目人员</h4>
				<p style="color:#e5a673">－公益导游顾问站</p>
				<p>建站与人员招募</p>
				<p style="color:#e5a673">－公益旅行阅读推广小组</p>
				<p>建组与阅读推荐（图书与影片）</p>
				<p>[ 报名要求 ]</p>
				<p>－非专业但具备儿童心理学经验、乡村下乡经验或儿童相处经验不少于1年</p>
				<p>－志愿者相处经验不少于1年，对各领域的公益组织有一定的了解</p>
				<p>－对儿童及家庭的需求有强烈的认知学习欲望，有强烈的社会责任感</p>
				<p>有其中一项或多项优势优先：</p>
				<p>－互联网公益推广经验</p>
				<p>－大学英语6级</p>
				<p>－擅长绘画或平面设计</p>
			</div>
			<div class="content">
				<h4 class="headline">少年导游</h4>
				<p>满足以下条件的10岁-15岁少年，男女不限：</p>
				<p>－强烈的社会责任感</p>
				<p>－渴望收获独立生存能力</p>
				<p>－渴望锻炼演讲能力</p>
				<p>－紧急事件处理能力</p>
				<p>－渴望锻炼理财能力</p>
				<p>－渴望与少数民族的儿童深度交流</p>
				<p>－渴望走进大自然</p>
				<p>－渴望凭借自身意志力，完整做完一件事情</p>
			</div>
			<div class="content">
				<p>如果我们的理念跟你一拍即合，那就赶紧投简历吧！</p>
				<p>还有疑问？请及时告诉我们(^-^)</p>
				<p style="color:#e5a673">E-mail：hr@yijiaxing.org</p>
			</div>
		</div>
	</div>

	<?PHP include 'bottom.php'; ?>

</body>
</html>