
<import type="css" file="css.contact" />
<include file='Common/header' />
<!-- <div id="bottom">
	<div id="bottom_up">
		<div>
			<div style="padding-right: 39px">
				<p style="padding-top: 0">联系我们</p>
				<p id="bottom_phone">18928829643</p>
				<p id="bottom_email">pr@yijiaxing.org</p>
			</div>
			<div>
				<p style="padding-top: 0">友情链接</p>
				<p><a href="http://qxbm.ctibet.cn/05">川藏骑行.中国</a></p>
				<p><a href="http://www.yi-gather.com">广州一起开工社区</a></p>
				<p><a href="http://withfamily.davdian.com/">爱故事的瑞德</a></p>
				<p><a href="http://www.starscn.org">满天星青少年公益发展中心</a></p>
			</div>
		</div>
	</div>
</div>
 -->

<div id="contact">
	<h2>联系我们</h2>
	<p>手机号码: 18928829643</p>
	<p>电子邮箱：pr@yijiaxing.org</p>
	<h2>友情链接</h2>
	<a href="http://qxbm.ctibet.cn/05">川藏骑行.中国</a>
	<a href="http://www.yi-gather.com">广州一起开工社区</a>
	<a href="http://withfamily.davdian.com/">爱故事的瑞德</a>
	<a href="http://www.starscn.org">满天星青少年公益发展中心</a>
	<div id="twoCode"></div>
</div>
