	<import type="css" file="css.fromHeart" />
	<!-- // <script type="text/javascript" src="js/fromHeart.js"></script> -->
	<include file="Common/header" />

	<!-- <img id="flagImg" src="__PUBLIC__/images/FH_1.jpg" alt="从心出发" /> -->
 
	<div class="fromHeart">

		<!-- <div class="headline_line">
			<a class='dot' href="#h0"></a>
			<a href="#h0"><p class="headline" style='color:#399ce1'>总览</p></a>
			<a href="#h0"><p class="subHeadline" style='color:#399ce1'>关于白路苗寨之旅</p></a>
			<a href="#h1"><p class="subHeadline">行程特色</p></a>
			<a href="#h2"><p class="subHeadline">适合人群</p></a>

			<a class='dot' href="#h3"></a>
			<a href="#h3"><p class="headline">行程日历</p></a>
			<a href="#h3"><p class="subHeadline">苗寨四季</p></a>
			<a href="#h4"><p class="subHeadline">日程安排</p></a>


			<a class='dot' href="#h5"></a>
			<a href="#h5"><p class="headline">费用说明</p></a>
			<a href="#h5"><p class="subHeadline">参团费用</p></a>
			<a href="#h6"><p class="subHeadline">费用明细</p></a>
			<a href="#h7"><p class="subHeadline">支付方式</p></a>

			<a class='dot' href="#h8"></a>
			<a href="#h8"><p class="headline">如何加入</p></a>
			<a href="#h8"><p class="subHeadline">参与流程</p></a>
			<a href="#h9"><p class="subHeadline">文件下载</p></a>

			<a href="#top" id="returnTop">返回顶部</a>

		</div> -->

		<!-- <canvas id='canvas' width='235' height='500' ></canvas> -->

		<div class="contents">
			<div class="content" id='content0'>
				<h3>关于白路苗寨之旅</h3>
				<img src="__PUBLIC__/images/FH_2.png"/>
				<p>白路苗寨, 位于贵州省黔东南苗族侗族自治州的剑河县白路村. 这是一个原始的农耕苗族村落, 村民淳朴而努力地活着. </p>
				<p>这里不是旅游景点, 没有喧闹汹涌的人流, 没有玲琅满目的商品, 没有便捷的交通……总之, 这不是一个值得炫耀的地方. </p>
				<p>但就在这里, 我们的话语变得舒畅. </p>
				<p>我们愿意离开钢筋水泥的牢笼, 与大自然聊聊心里话; 我们愿意离开互联网, 与现实中的人面对面谈话; 最重要的, 我们愿意抛开杂念, 聆听内心的声音——然而此前, 我们从未意识到交流的障碍. </p>
				<p>这里不仅仅是一次从心的对话, 还是全身心的生活体验. </p>
				<p>我们与少数民族一同生活, 白天满眼是美景, 夜晚抬头是星空, 品尝原始的美食美酒, 下田务农, 乡村书房, 公益小行动……</p>
				<p>旅行结束, 我们只能带走思考与回忆. </p>
			</div>

			<div class="content" id='content1'>
				<h3>行程特色</h3>
				<div class='img_text'>
					<img src="__PUBLIC__/images/mountainup.png" />
					<p>旅行社少有的近乎原始自然的旅行, 益家行独家路线</p>
				</div>
				<div class='img_text'>
					<img src="__PUBLIC__/images/fire.png" />
					<p>身体力行, 回归原始</p>
				</div>
				<div class='img_text'>
					<img src="__PUBLIC__/images/building.png" />
					<p>入住吊脚楼, 背靠大山, 清风送稻香</p>
				</div>
				<div class='img_text'>
					<img src="__PUBLIC__/images/clearTree.png" />
					<p>播种, 收割, 堆稻草; 劈柴, 生火, 做豆腐; 挖笋, 酿酒, 晒辣椒; 喂马, 喂猪, 打糌粑 …… 真正地旅行是融入</p>
				</div>
				<div class='img_text'>
					<img src="__PUBLIC__/images/library.png" />
					<p>大山里有一座赞赞的满天星公益图书馆</p>
				</div>
				<div class='img_text'>
					<img src="__PUBLIC__/images/mountaindown.png" />
					<p>挑战极限, 认识更多好战友</p>
				</div>
			</div>

			<div class="content" id='content2'>
				<h3>适合人群</h3>
				<div id="forPeople">
					<div id="forKid">
						<img src="__PUBLIC__/images/forKid.png " />
						<h4>亲子出游</h4>
						<p>家庭出行. 共同成长. 欢迎带上儿童绘本一起出发！</p>
					</div>
					<div id="forTeen">
						<img src="__PUBLIC__/images/forTeen.png" />
						<h4>青年同行</h4>
						<p>适合所有热爱大自然、喜欢阅读、酷爱旅行的青年朋友！尤其是青年情侣、高校毕业生~</p>
					</div>
				</div>
				<p class="hint">＊参加益家行•贵州黔东南白路苗寨体验之旅的年龄限制为4～50周岁</p>
			</div>

 			<div class="content" id='content3'>
				<div class="headline" id="h3">苗寨四季</div>
				<div class="season_col">
					<div class="season" id="spring">
						<div class="season_text sm">
							<p>益家行春季团时间</p>
							<p>[1团] 4月30日 —— 5月&ensp;7日</p>
							<p>[2团] 5月&ensp;7日 —— 5月13日</p>
							<p>[3团] 5月13日 —— 5月19日</p>
							<p>[4团] 6月&ensp;1日 —— 6月&ensp;7日</p>
							<p>[5团] 6月&ensp;7日 —— 6月13日</p>
							<p>[6团] 6月13日 —— 6月19日</p>
							<p>[7团] 6月19日 —— 6月25日</p>
							<p>[8团] 6月25日 —— 7月&ensp;1日</p>
							<span>特色</span>
							<p>万物生长之时, 也是苗寨乡亲最忙碌的时候, 乃体验务农最佳时节</p>
						</div>
					</div>
					<div class="season" id="summer">
						<div class="season_text">
							<p>益家行夏季团时间</p>
							<p>[&ensp;9团] 7月10日 —— 7月16日</p>
							<p>[10团] 7月16日 —— 7月22日</p>
							<p>[11团] 7月22日 —— 7月28日</p>
							<p>[12团] 7月28日 —— 8月&ensp;3日</p>
							<p>[13团] 8月&ensp;3日 —— 8月&ensp;9日</p>
							<p>[14团] 8月&ensp;9日 —— 8月15日</p>
							<p>[15团] 8月15日 —— 8月21日</p>
							<p>[16团] 9月15日 —— 9月21日</p>
							<p>[17团] 9月21日 —— 9月27日</p>
							<span>特色</span>
							<p>宁静的夏天, 夜晚繁星点点, 远离城市聒噪, 享受身心的清凉</p>
						</div>
					</div>
				</div>
				<div class="season_col">
					<div class="season" id="fall">
						<div class="season_text" style="padding: 30px 0 30px 16px">
							<p>益家行秋季团时间</p>
							<p>[18团] &ensp;9月27日 —— 10月&ensp;2日</p>
							<p>[19团] 10月&ensp;2日 —— 10月&ensp;8日</p>
							<p>[20团] 10月&ensp;8日 —— 10月14日</p>
							<p>[21团] 10月14日 —— 10月20日</p>
							<p>[22团] 10月20日 —— 10月26日</p>
							<p>[23团] 11月15日 —— 11月21日</p>
							<p>[24团] 11月21日 —— 11月27日</p>
							<span>特色</span>
							<p style="width: 220px">丰收之时, 喜悦之地, 秋天的苗寨让人充满惊喜</p>
						</div>
					</div>
					<div class="season" id="season_summary">
						<p>白路苗寨的四季不同于自然年, 而是当地春耕秋收的节气时间. 益家行旅行团分为春夏秋三季, 皆以当地四季划分. </p>
						<a style="cursor: pointer">点击查看旅行团时间</a>
					</div>
				</div>
				<div class="clear"></div>
			</div>
			
			<!--div class="content" id='content4'>
				<div class="headline" id="h4">日程安排</div>
				<div id="schedules">
					<div class="schedule">
						<div class="day_summary">
							<p class="day">Day1</p>
							<p class="summary">出发日</p>
						</div>
					</div>
				</div>

				<div id="schedules">
					<div class="schedule">
						<div class="day_summary">
							<p class="day">Day2</p>
							<p class="summary">徒步登山、赏景、美食</p>
						</div>
					</div>
					<p>
						<span>1</span>
						<span>相互认识, 进行小约定</span>
					</p>
					<div class="rotateDot">. . . . . .</div>
					<p>
						<span>2</span>
						<span>徒步登山, 赏美景, 品民族美食</span>
					</p>
				</div>

				<div id="schedules">
					<div class="schedule">
						<div class="day_summary">
							<p class="day">Day3</p>
							<p class="summary">赏景、交流、自然体验</p>
						</div>
					</div>
					<p>
						<span>1</span>
						<span>徒步情人坡、赏景作画、 合影留念</span>
					</p>
					<div class="rotateDot">. . . . . .</div>
					<p>
						<span>2</span>
						<span>感受旅程、交朋友</span>
					</p>
					<div class="rotateDot">. . . . . .</div>
					<p>
						<span>3</span>
						<span>露营, 赏星星</span>
					</p>
				</div>

				<div id="schedules">
					<div class="schedule">
						<div class="day_summary">
							<p class="day">Day4</p>
							<p class="summary">自然体验、公益体验</p>
						</div>
					</div>
					<p>
						<span>1</span>
						<span>看云海 、自由活动. </span>
					</p>
					<div class="rotateDot">. . . . . .</div>
					<p>
						<span>2</span>
						<span>接触老乡, 务农任务, 感受大自然, 认识植物和动物</span>
					</p>
					<div class="rotateDot">. . . . . .</div>
					<p>
						<span>3</span>
						<span>完成务农工作, 获得到老乡家吃饭的机会</span>
					</p>
					<div class="rotateDot">. . . . . .</div>
					<p>
						<span>4</span>
						<span>自由活动, 公益行动</span>
					</p>
					<div class="rotateDot">. . . . . .</div>
					<p>
						<span>5</span>
						<span>集体准备 晚饭, 每个家庭可以邀请老乡+照片</span>
					</p>
					<div class="rotateDot">. . . . . .</div>
					<p>
						<span>6</span>
						<span>领取当地礼包, 收拾行李</span>
					</p>
				</div>

				<div id="schedules">
					<div class="schedule">
						<div class="day_summary">
							<p class="day">Day5</p>
							<p class="summary">职业分享故事会、制作旅行纪念绘本</p>
						</div>
					</div>
					<p>
						<span>1</span>
						<span>职业分享故事会</span>
					</p>
					<div class="rotateDot">. . . . . .</div>
					<p>
						<span>2</span>
						<span>与乡村小伙伴一起制作快乐旅行日记</span>
					</p>
				</div>

				<div id="schedules">
					<div class="schedule">
						<div class="day_summary">
							<p class="day">Day6</p>
							<p class="summary">自由时间、下山</p>
						</div>
					</div>
					<p>
						<span>1</span>
						<span>自由时间</span>
					</p>
					<div class="rotateDot">. . . . . .</div>
					<p>
						<span>2</span>
						<span>下山 </span>
					</p>
					<div class="rotateDot">. . . . . .</div>
					<p>
						<span>3</span>
						<span style="width: 448px; vertical-align: middle">某集中地点告别, 结束行程. 自由安排, 可协助预定当地酒店或车票.</span>
					</p>
				</div>
			</div>

			<div class="content" id='content5'>
				<div class="headline" id="h5">参团费用</div>
				<div>
					<table id="table">
						<thead>
							<tr>
								<td>类型</td>
								<td>说明</td>
								<td>全价</td>
								<td>优惠价</td>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td class="col_header">成人</td>
								<td>儿童家长或24岁以上人群</td>
								<td>2700</td>
								<td>2400</td>
							</tr>
							<tr>
								<td class="col_header">少年儿童</td>
								<td>4岁-16岁儿童与青少年）</td>
								<td>2400</td>
								<td>2100</td>
							</tr>
							<tr>
								<td class="col_header">学生</td>
								<td>16岁-23岁在校学生</td>
								<td>2100</td>
								<td>1850</td>
							</tr>
							<tr>
								<td class="col_header">团体报名</td>
								<td>成人8人以上, 带队人员5折优惠</td>
								<td>24000</td>
								<td>22500</td>
							</tr>
						</tbody>
					</table>

					<p style="color: #ee997b">优惠活动</p>
					<p>－ 提前60天以上完成报名, 并完成全款支付的益家人, 在活动结束时, 将获得益家行10%返利现金+2015年公益旅行现金礼券300元（可转赠）</p>
					<p>－ 提前45天以上完成报名, 并完成全款支付的益家人, 在活动结束时, 将获得益家行5%的返利现金+2015年公益旅行现金礼券200元（可转赠）</p>
					<p>－ 提前30天以上完成报名, 并完成全款支付的益家人, 在活动结束时, 将获得2015年公益旅行现金礼券100元（可转赠）</p>
				</div>
			</div>

			<div class="content" id='content6'>
				<div class="headline" id="h6">费用明细</div>
				<p style="color:#54C288">费用包括</p>
				<p>－ 指定范围内的行程往返的汽车、船、包车等交通费用.</p>
				<p>－ 非火车途中的餐饮费、苗寨特色长桌宴1席、旅游意外保险费8天、山寨住宿费4晚费用、山寨导游费、安全培训及手册费用、急救药品包、活动策划及工作人员费用分摊等. </p>
				<p>－ 礼品赠送：民族特色酿酒1瓶、SOS急救口哨1个、自然绘本1本、旅行绘本阅读书单推荐1份、乡村自由行安全攻略一份. </p>
				<p style="color: #ee997b; margin-top: 30px">费用不包括</p>
				<p>－ 火车或飞机途中的伙食. </p>
				<p>－ 如需服务帐篷租赁另外算. </p>
			</div>

			<div class="content" id='content7'>
				<div class="headline" id="h7">支付方式</div>
				<div>
					<p>银行转账</p>
					<div>
						<p><span>收款人姓名：</span><span>邵文静</span></p>
						<p><span>收款人银行：</span><span>招商银行广州分行营业部</span></p>
						<p><span>银行账号：</span><span>6225 8820 2228 9778</span></p>
					</div>
				</div>
				<div>
					<p>支付宝</p>
					<div>
						<p><span>收款人姓名：</span><span>邵文静 </span></p>
						<p><span>支付宝账号：</span><span>13570509355</span></p>
					</div>
				</div>
				<p id="warning">温馨提示：支付之前，请加益家行工作人员微信号：13570509355 咨询确认，请认准以上支付账号，以免上当受骗。</p>
				<div id="paycode">
					<img src="__PUBLIC__/images/twoDC_pay.png" alt="" />
					<span>支付宝扫一扫</span>
				</div>
			</div>

			<div class="content" id='content8'>
				<div class="headline" id="h8">参与流程</div>
				<div>
					<canvas id="howToGo" height='300' width='672' ></canvas>
					<p class='process'>填写报名表</p>
					<p class='process'>发送到益家行官方邮箱</p>
					<p class='process'>工作人员与您联系确认行程</p>
					<p class='process'>签约</p>
					<p class='process'>完成支付</p>
					<p class='process'>参与安全培训暨队友见面会</p>
					<p class='process'>正式出发</p>
				</div>
			</div>

			<div class="content" id='content9'>
				<div class="headline" id="h9">相关文件下载</div>
				<a href="download/益家行.zip">点击这里下载全部</a>
				<a href="download/益家行公益旅行安全手册.pdf">益家行安全手册</a>
				<a href="download/益家行贵州白路亲子公益旅行合约.pdf">益家行贵州白路亲子公益旅行合约</a>
				<a href="download/旅游者参团告知书.doc">旅行者参团告知书</a>
				<a href="download/公益旅行报名表.docx">益家行2015贵州黔东南苗寨公益旅行报名表</a>
			</div> -->
		</div>

		<div class="clear"></div>

	</div


		<button id="anchorArrow"> ^ </button>
		<div id="anchor">
			<a href="#content0" class="headline">总览</a>
			<a href="#content0">关于白路苗寨之旅</a>
			<a href="#content1">行程特色</a>
			<a href="#content2">适合人群</a>
			<a href="#content3" class="headline">行程日历</a>
			<a href="#content3">苗寨四季</a>
			<a href="#content4">日程安排</a>
			<a href="#content5" class="headline">费用说明</a>
			<a href="#content5">参团费用</a>
			<a href="#content6">费用明细</a>
			<a href="#content7">支付方式</a>
			<a href="#content8" class="headline">如何加入</a>
			<a href="#content8">参与流程</a>
			<a href="#content9">文件下载</a>
			<a href="javascript:void(0)" data-am-smooth-scroll class="toTop"></a>
		</div>