	<import type="css" file="css.index" />

	<div class="header">
		<img src="img/index_1.jpg" height="360px" width="378px">
		<img src="img/index_2.jpg" height="67px" width="397px">
		<div id="nav">
			<a class="active" href="#">初识</a>
			<a href="fromHeart.php">从心出发</a>
			<a href="read.php">阅读推荐</a>
			<a href="aboutUs.php">关于益家人</a>
			<a href="problem.php">常见问题</a>
		</div>
		<div id="triangle">
			<div></div>
		</div>
	</div>

	<!-- pre center -->
	<p class="saying"><span>"</span>要么旅行，要么读书，身体和灵魂必须有一个在路上——于是，我上路了，却发现灵魂落在身后，渐行渐远……<span>"</span></p>
	<!-- center -->
	<div class="banner">
		<ul>
			<li>
				<img id="img0" src="img/index1.jpg" alt="" />
				<div class="inner">
					<h1>释放吧，被禁锢的双脚</h1>
					<p>脚踏实地是什么感觉？</p>
					<p>在钢筋水泥塑造的森林里，我们总是走得太快。</p>
					<p>此时此刻，生活的道理就踩在脚下。</p>
				</div>
			</li>
			<li>
				<img id="img1" src="img/index2.jpg"   alt="" />
				<div class="inner" style="color: rgb(150, 150, 150)">
					<h1>独特，因为敢于探索</h1>
					<p>我们不去人山人海的景点，在偏远的山区流连忘返。</p>
					<p>益家行致力于拉近城乡距离，开辟独特的原始乡村路线，让城市人</p>
					<p>感受大自然，也为支持乡村经济收益和儿童阅读推广。</p>
				</div>
			</li>
			<li>
				<img id="img2" src="img/index3.jpg"   alt="" />
				<div class="inner">
					<h1>融入，不再是匆匆过客</h1>
					<p>加入益家行，意味着你要融入当地人和当地生活。在院子里唠嗑，</p>
					<p>在田里干农活，在草棚喂马……</p>
					<p>我们不愿意当匆匆过客。</p>
				</div>
			</li>
			<li>
				<img id="img3" src="img/index4.jpg"   alt="" />
				<div class="inner" style="color: #000">
					<h1>收获的只有回忆和思考</h1>
					<p>这里，没有沉甸甸的名品特产，只能带走回忆和思考。</p>
					<p>这是关于阅读，关于自然，关于沟通，关于……</p>
					<p>剩下的，欢迎你来解读。</p>
				</div>
			</li>
		</ul>
		<ul class="dots">
			<li class="dot"></li>
			<li class="dot"></li>
			<li class="dot"></li>
			<li class="dot"></li>
		</ul>
	</div>


	<!-- bottom -->
	<div class="record">
		<img src="img/index_record.jpg" alt="" />

		<div class="contents">
			<a href="record1.php" class="content">
				<div class="content_header">
					<img src="img/indexR1.png" alt="" />
					<div class="headline">
						<p>白路随想</p>
						<p>by 邓浩武</p>
					</div>
				</div>
				<div class="text">
					<p>每个人的心中都会有一个关于旅行的梦，不管是想要逃离现实，还是想要追求旅行中的风花雪月，亦或者是增长知识，丰富见闻，从地理距离说，旅行不过是从自己活腻了的地方到别人活腻的地方，从意识形态上来讲，旅行不过就是满足自己的精神需求，按照文艺青年的说法就是，在旅途中找回自己，发现另一个自己，让自己的灵魂有所归依等等形而上学的空大虚。</p>
					<p>很幸运的是，我也有一个关于旅行的梦，读书那会，老师问我<span> >>> <span></p>
				</div>
			</a>
			<a href="record2.php" class="content">
				<div class="content_header">
					<img src="img/indexR2.png" alt="" />
					<div class="headline">
						<p>与愿意承担的人一起上路</p>
						<p>by 小草</p>
					</div>
				</div>
				<div class="text">
					<p>旅行对我来说, 是与愿意承担的人一起上路否则就与自己走. 一个人的旅行, 一群人的旅行, 只要是不霸道, 特别自我为中心的人, 我都愿意与之同行</p>
					<p>大家都认为我是个公益人。其实在社会上做一些不妨碍自己、不伤害自己的事、不妨碍别人、不伤害别人的事，再以力所能及的心态，遇见之时，助一臂之力，每个人都是公益人。</p>
					<p>我也有力不从心的时候，但公益是我的一种生活态度<span>>>></span></p>
				</div>
			</a>
			<a href="record3.php" class="content">
				<div class="content_header">
					<img src="img/indexR3.png" alt="" />
					<div class="headline">
						<p>为什么不让儿童旅行？</p>
						<p>[转] 北京华德福社区</p>
					</div>
				</div>
				<div class="text">
					<p>作者前言：这个题目不是为了博人眼球，你也别着急去批判，昨天我去听了“童书妈妈三川玲”的讲座，感慨颇多，要问为什么回来写了这篇文章，容我再多介绍一些背景。</p>
					<p>“童书妈妈三川玲”过去是童书编辑，有了孩子之后，阅读了家教类图书排行前200位的书籍，开始撰写与此相关的文章，乘着微信公众号的东风，加上深厚的编辑推广功底，基于与读者的大量真实调研信息，带着自己鲜明的立场观点，她的公众号获得了前所未有的成功<span>>>></span></p>
				</div>
			</a>
			
			
		</div>
	</div>
