	<import type="css" file="css.problem" />
	
	<div class="container">
		<include file="Common/header" />
			
		<div class="am-panel-group" id="accordion">
		  <div class="am-panel am-panel-default">
		    <div class="am-panel-hd">
		      <h4 class="am-panel-title" data-am-collapse="{parent: '#accordion', target: '#do-not-say-1'}">
		        参益家行旅行有哪些注意事项
		      </h4>
		    </div>
		    <div id="do-not-say-1" class="am-panel-collapse am-collapse">
		      <div class="am-panel-bd">
		        <p class="hint"> | 做好吃苦的心理准备</p>
						<p>我们将去到的地方自然风景特别美丽，同时也有许多落后的地方，生活上将会艰苦一些，选择了本团，将意味着您及您的家人有考虑到生活艰苦的问题。希望提前与您的孩子沟通，积极乐观面对一切，共同成长。</p>
						<p class="hint"> | 确保有足够健康的身体接受旅行的洗礼</p>
						<p>请确认家庭每一位成员身体良好，可以徒步山路1.5小时以上，无心脏病、高血压、哮喘等病症。</p>
						<p class="hint"> | 统一行动，听从安排</p>
						<p>山区环境潜藏危险，为了确保您的安全，请听从益家行的专业安排。尤其是携带儿童的团友，更要以身作则，也是为孩子的安全考虑。</p>
						<p>安排若有不当，我们也希望您能够及时提出疑问或建议。</p>
						<p class="hint"> | 请准时到达</p>
						<p>每一个人的时间都很宝贵，集合勿迟到，给孩子做个好榜样。</p>
						<p>我们不希望个人因素耽误集体行程，因此误时不候，恳请谅解。</p>
						<p class="hint"> | 尊重自然，尊重他人</p>
						<p>尊重大自然，不随意采摘当地植物，不乱丢垃圾等；</p>
						<p>尊重当地民风习俗，未经他人允许不能拍摄，不践踏庄稼等。</p>
						<p class="hint"> | 恰当的教育方式</p>
						<p>不要以贫富论贵贱，因此不要以“好好学习，不然长大了就像他们那样种地”之类的言谈教育孩子——正确的教育方式也是益家行的修行研习内容之一。</p>
						<p class="hint"> | 互相照顾</p>
						<p>如有不舒服，请联系工作人员，随队配有急救箱。我们是一个团队，每一个成员有责任照顾团队有需要的人（家庭请自备个别特殊药品）。</p>
		      </div>
		    </div>
		  </div>
		  <div class="am-panel am-panel-default">
		    <div class="am-panel-hd">
		      <h4 class="am-panel-title" data-am-collapse="{parent: '#accordion', target: '#do-not-say-2'}">
		        如何保障自己的人身安全
		      </h4>
		    </div>
		    <div id="do-not-say-2" class="am-panel-collapse am-collapse">
		      <div class="am-panel-bd">
		        <p>益家行工作人员已清楚掌握当地情况，随队导游能提供有效的安全指导，尽心尽力确保团友的人身安全。</p>
						<p>虽然目的地是山区，但我们依然注重合理膳食和食品安全，提供健康卫生的餐饮。出发前，我们会询问每位团友的过敏情况，根据个人体质进行恰当的安排。</p>
						<p>专业救援人员随行，并配有急救药品及常用药品。</p>
						<p>益家行已与当地村委、卫生院、学校达成安全救援合作。</p>
						<p>益家行工作人员会提前了解各季节的气候特点、地理环境等，出发前7天左右会提醒团友如何做出行准备。</p>
						<p>出发前召开急救安全培训会，并派发《安全指引手册》。</p>
						<p>到达目的地当天，我们会进行实地安全培训，如安全地带与危险地带的概念具体化、安全约定等。</p>
						<p>统一购买PICC意外险，并由PICC总部工作人员专员为我们提供后续保险生效的工作，当然我们不希望这部分生效。</p>

						<p>益家人需对其本人身体状况是否适合本次旅行负责，而团友也应加强安全防范意识、服从安排、听从劝告。在安全方面，我们对益家行团友有几点要求：</p>
						<p>请务必听从导游的安排，注意结伴而行</p>
						<p>时刻注意自己的财产安全</p>
						<p>乘坐交通工具时，现金、证件或贵重物品请务必随身携带，不应放进托运行李内；外出旅游离开住宿地点及旅游车时，也请务必将现金、证件或贵重物品随身携带。</p>
						<p>因个人疏忽丢失任何财务（机票、护照、钱财、衣物等），益家行团队将不负任何责任。</p>
						<p>在盘山公路、水边、山崖边、坎坷山路小道上等进行活动时，应根据自身身体情况决定运动时间、运动量，以确保您自身的人身安全。</p>
		      </div>
		    </div>
		  </div>
		  <div class="am-panel am-panel-default">
		    <div class="am-panel-hd">
		      <h4 class="am-panel-title" data-am-collapse="{parent: '#accordion', target: '#do-not-say-3'}">
		      	非广州的朋友可以报名参加吗
		      </h4>
		    </div>
		    <div id="do-not-say-3" class="am-panel-collapse am-collapse">
		      <div class="am-panel-bd">
		        <p> 可以，可以自行抵达本次团队出发的集合地点凯里火车站或都匀东火车站，具体视团队安排情况而定，费用收取多少，按总费用-原计划行程中的火车费用之后=本次参团应缴纳的费用金额。</p>
		      </div>
		    </div>
		  </div>
		  <div class="am-panel am-panel-default">
		    <div class="am-panel-hd">
		      <h4 class="am-panel-title" data-am-collapse="{parent: '#accordion', target: '#do-not-say-4'}">
		      	益家行出发的城市有哪些
		      </h4>
		    </div>
		    <div id="do-not-say-4" class="am-panel-collapse am-collapse">
		      <div class="am-panel-bd">
		        <p>目前只有广州为主要的出发城市，如果其他城市有人有兴趣代理负责，请拨打益家行咨询电话，咨询合作事宜，谢谢。</p>
		      </div>
		    </div>
		  </div>
		  <div class="am-panel am-panel-default">
		    <div class="am-panel-hd">
		      <h4 class="am-panel-title" data-am-collapse="{parent: '#accordion', target: '#do-not-say-5'}">
		      	益家行的收益会做什么用途
		      </h4>
		    </div>
		    <div id="do-not-say-5" class="am-panel-collapse am-collapse">
		      <div class="am-panel-bd">
		        <p>利润将用于支持贵州省黔东南地区各村小的支教志愿者老师工资经费；工作人员成本及公益导游补贴外。凡是能够在村小支教一学期以上的老师，均可申请。每期旅行的利润分配都将定期整理公布在益家行的微信公众号中。。</p>
		      </div>
		    </div>
		  </div>
		  <div class="am-panel am-panel-default">
		    <div class="am-panel-hd">
		      <h4 class="am-panel-title" data-am-collapse="{parent: '#accordion', target: '#do-not-say-6'}">
		      	关于版权与肖像权的声明
		      </h4>
		    </div>
		    <div id="do-not-say-6" class="am-panel-collapse am-collapse">
		      <div class="am-panel-bd">
		        <p>参与了益家行活动，意味着您就是益家人。</p>
						<p>为了让每一个益家人珍藏美好的回忆，也为了让更多人了解贵州旅程中益家人的积极感受，旅行过程中，益家行会安排专门的摄影师进行摄影工作。活动结束后会制作成一份精美电子版相册送给益家人，同时用于益家行项目宣传。益家行团队会默认为关于肖像权使用的许可，除非您与益家行特意沟通，我们会尊重您的决定。</p>
						<p>所有活动过程中，产生的视频、照片、文章（原创及益家人投稿），益家行拥有其版权，如若有需要在其他方面使用，请提前与益家行联系，获得许可。</p>
						<p>所有活动过程中，益家人个人微信、微博等自媒体分享平台中发表的任何感受，益家行团队有意使用的话，会提前与相关益家人联系，获得许可。</p>
						<p>所有活动过后，益家人进行了真实的、积极的文章分享，益家行拥有转发的权利。</p>
						<p>所有活动过后，益家行三天之内如若收到益家人真实的、积极的投稿文章，并接受在益家行宣传平台上公开发布，将获得益家行指定奖赏。文章版权是作者与益家行共同拥有。</p>
						<p>益家行发布的所有信息，其他人均没有使用的权利，如有需要请与益家行负责人沟通合作事宜。</p>
						<p>特此声明！</p>
		      </div>
		    </div>
		  </div>
		</div>

		<a href="javascript:void(0)" data-am-smooth-scroll class="toTop"></a>
	</div>
<!-- 
	<ul class="collapse">
		<li>
			<div>-</div>
			<h4>参益家行旅行有哪些注意事项？与</h4>
			<p class="hint"> | 做好吃苦的心理准备</p>
			<p>我们将去到的地方自然风景特别美丽，同时也有许多落后的地方，生活上将会艰苦一些，选择了本团，将意味着您及您的家人有考虑到生活艰苦的问题。希望提前与您的孩子沟通，积极乐观面对一切，共同成长。</p>
			<p class="hint"> | 确保有足够健康的身体接受旅行的洗礼</p>
			<p>请确认家庭每一位成员身体良好，可以徒步山路1.5小时以上，无心脏病、高血压、哮喘等病症。</p>
			<p class="hint"> | 统一行动，听从安排</p>
			<p>山区环境潜藏危险，为了确保您的安全，请听从益家行的专业安排。尤其是携带儿童的团友，更要以身作则，也是为孩子的安全考虑。</p>
			<p>安排若有不当，我们也希望您能够及时提出疑问或建议。</p>
			<p class="hint"> | 请准时到达</p>
			<p>每一个人的时间都很宝贵，集合勿迟到，给孩子做个好榜样。</p>
			<p>我们不希望个人因素耽误集体行程，因此误时不候，恳请谅解。</p>
			<p class="hint"> | 尊重自然，尊重他人</p>
			<p>尊重大自然，不随意采摘当地植物，不乱丢垃圾等；</p>
			<p>尊重当地民风习俗，未经他人允许不能拍摄，不践踏庄稼等。</p>
			<p class="hint"> | 恰当的教育方式</p>
			<p>不要以贫富论贵贱，因此不要以“好好学习，不然长大了就像他们那样种地”之类的言谈教育孩子——正确的教育方式也是益家行的修行研习内容之一。</p>
			<p class="hint"> | 互相照顾</p>
			<p>如有不舒服，请联系工作人员，随队配有急救箱。我们是一个团队，每一个成员有责任照顾团队有需要的人（家庭请自备个别特殊药品）。</p>

		</li>
		<li>
			<div>-</div>
			<h4>如何保障自己的人身安全？</h4>
			<p> | 益家行工作人员已清楚掌握当地情况，随队导游能提供有效的安全指导，尽心尽力确保团友的人身安全。</p>
			<p> | 虽然目的地是山区，但我们依然注重合理膳食和食品安全，提供健康卫生的餐饮。出发前，我们会询问每位团友的过敏情况，根据个人体质进行恰当的安排。</p>
			<p> | 专业救援人员随行，并配有急救药品及常用药品。</p>
			<p> | 益家行已与当地村委、卫生院、学校达成安全救援合作。</p>
			<p> | 益家行工作人员会提前了解各季节的气候特点、地理环境等，出发前7天左右会提醒团友如何做出行准备。</p>
			<p> | 出发前召开急救安全培训会，并派发《安全指引手册》。</p>
			<p> | 到达目的地当天，我们会进行实地安全培训，如安全地带与危险地带的概念具体化、安全约定等。</p>
			<p> | 统一购买PICC意外险，并由PICC总部工作人员专员为我们提供后续保险生效的工作，当然我们不希望这部分生效。</p>

			<p>益家人需对其本人身体状况是否适合本次旅行负责，而团友也应加强安全防范意识、服从安排、听从劝告。在安全方面，我们对益家行团友有几点要求：</p>
			<p> | 请务必听从导游的安排，注意结伴而行</p>
			<p> | 时刻注意自己的财产安全</p>
			<p> | 乘坐交通工具时，现金、证件或贵重物品请务必随身携带，不应放进托运行李内；外出旅游离开住宿地点及旅游车时，也请务必将现金、证件或贵重物品随身携带。</p>
			<p> | 因个人疏忽丢失任何财务（机票、护照、钱财、衣物等），益家行团队将不负任何责任。</p>
			<p> | 在盘山公路、水边、山崖边、坎坷山路小道上等进行活动时，应根据自身身体情况决定运动时间、运动量，以确保您自身的人身安全。</p>

		</li>
		<li>
			<div>-</div>
			<h4>非广州的朋友可以报名参加吗？</h4>
			<p> 可以，可以自行抵达本次团队出发的集合地点凯里火车站或都匀东火车站，具体视团队安排情况而定，费用收取多少，按总费用-原计划行程中的火车费用之后=本次参团应缴纳的费用金额。</p>
		</li>
		<li>
			<div>-</div>
			<h4>益家行出发的城市有哪些？</h4>
			<p>目前只有广州为主要的出发城市，如果其他城市有人有兴趣代理负责，请拨打益家行咨询电话，咨询合作事宜，谢谢。</p>
		</li>
		<li>
			<div>-</div>
			<h4>益家行的收益会做什么用途？</h4>
			<p>利润将用于支持贵州省黔东南地区各村小的支教志愿者老师工资经费；工作人员成本及公益导游补贴外。凡是能够在村小支教一学期以上的老师，均可申请。每期旅行的利润分配都将定期整理公布在益家行的微信公众号中。。</p>
		</li>
		<li>
			<div>-</div>
			<h4>关于版权与肖像权的声明</h4>
			<p> | 参与了益家行活动，意味着您就是益家人。</p>
			<p> | 为了让每一个益家人珍藏美好的回忆，也为了让更多人了解贵州旅程中益家人的积极感受，旅行过程中，益家行会安排专门的摄影师进行摄影工作。活动结束后会制作成一份精美电子版相册送给益家人，同时用于益家行项目宣传。益家行团队会默认为关于肖像权使用的许可，除非您与益家行特意沟通，我们会尊重您的决定。</p>
			<p> | 所有活动过程中，产生的视频、照片、文章（原创及益家人投稿），益家行拥有其版权，如若有需要在其他方面使用，请提前与益家行联系，获得许可。</p>
			<p> | 所有活动过程中，益家人个人微信、微博等自媒体分享平台中发表的任何感受，益家行团队有意使用的话，会提前与相关益家人联系，获得许可。</p>
			<p> | 所有活动过后，益家人进行了真实的、积极的文章分享，益家行拥有转发的权利。</p>
			<p> | 所有活动过后，益家行三天之内如若收到益家人真实的、积极的投稿文章，并接受在益家行宣传平台上公开发布，将获得益家行指定奖赏。文章版权是作者与益家行共同拥有。</p>
			<p> | 益家行发布的所有信息，其他人均没有使用的权利，如有需要请与益家行负责人沟通合作事宜。</p>
			<p>特此声明！</p>
		</li>
	</ul>

	<div class="weixin">
		<p>欢迎大家给我们提问题和意见，帮助益家行成长O(∩_∩)O~~</p>
		<p>更多交流，请关注我们的微信公众号 ~ </p>
	</div>
	
 -->
