<!DOCTYPE html>
<html lang="zh-cn">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="keywords" content="益家行,公益,益家行公益,yijiaxing,public welfare,org">
	<title>益家行户外阅读拓展中心</title>
	<link rel="stylesheet" type="text/css" href="css/read.css">
	<link rel="stylesheet" type="text/css" href="css/include.css">
	<script src="js/jquery.min.js"></script>
	<script type="text/javascript" src="js/read.js"></script>
</head>
<body>
	<div class="exHead">
		<div class="header">
			<a href="index.php"><img src="img/logo.png"></a>
			<a href="index.php"><img src="img/outdoor_Reading.png"></a>
			<div id="nav">
				<a href="index.php"> 初识</a>
				<a href="fromHeart.php">从心出发</a>
				<a href="read.php" class="active">阅读推荐</a>
				<a href="aboutUs.php">关于益家人</a>
				<a href="problem.php" style="margin-right: 0">常见问题</a>
			</div>
		</div>
	</div>

	<div class="all">
		<p id="instruction">用绘本学礼仪；用绘本减弱期待差异带来的情绪；用故事在一些意外状况下，降低恐慌；用绘本增进亲子关系等等。强烈推荐父母先行用心阅读，并根据各自的旅行目的地、交通方式、目的地文化等旅行特点来选择2-3本绘本同行。</p>
		<!-- item 1 -->
		<div class="content">
			<div class="headline">空闲温馨阅读</div>
			<div class="right"><div></div></div>
			<ul class="page">
				<li class="active"></li>
			</ul>
			<div class="left"><div></div></div>
			<div class="clear"></div>
			<div class="outer">
				<div class="inner">
					<div class="in1">
						<div class="img">
							<img src="img/1-1.png" alt="" />
							<p>世界上最最温馨的家</p>
							<p>[德]安妮•默勒</p>
						</div>
						<div class="img">
							<img src="img/1-2.png" alt="" />
							<p>威利的奇遇</p>
							<p>[英]安东尼•布朗</p>
						</div>
						<div class="img">
							<img src="img/1-3.png" alt="" />
							<p>蜡笔小黑</p>
							<p>[日]中屋美和</p>
						</div>
						<div class="img">
							<img src="img/1-4.png" alt="" />
							<p>花婆婆</p>
							<p>[美]芭芭拉•库尼</p>
						</div>
						<div class="img">
							<img src="img/1-6.png" alt="" />
							<p>葡萄</p>
							<p>邓正祺</p>
						</div>
						<div class="img">
							<img src="img/1-8.png" alt="" />
							<p>鳄鱼莱莱</p>
							<p>[美]伯纳德•韦伯</p>
						</div>
						<div class="img">
							<img src="img/1-9.png" alt="" />
							<p>好饿的小蛇</p>
							<p>[日]宫西达也</p>
						</div>
					</div>
					<div class="in2"></div>
				</div>
			</div>
		</div>
		<!-- item 2 -->
		<div class="content">
			<div class="headline">安全意识</div>
			<div class="right"><div></div></div>
			<ul class="page">
				<li class="active"></li>
			</ul>
			<div class="left"><div></div></div>
			<div class="clear"></div>
			<div class="outer">
				<div class="inner">
					<div class="in1">
						<div class="img">
							<img src="img/2-1.png" alt="" />
							<p>咬人的家用电器</p>
							<p>王早早</p>
						</div>
						<div class="img">
							<img src="img/2-2.png" alt="" />
							<p>地震逃生记</p>
							<p>郑州壹卡通动漫科技有限公司[编绘]</p>
						</div>
						<div class="img">
							<img src="img/2-3.png" alt="" />
							<p>不要随便摸我</p>
							<p>[美]克雷文</p>
						</div>
						<div class="img">
							<img src="img/2-4.png" alt="" />
							<p>这是我的</p>
							<p>[德]安妮•默勒</p>
						</div>
						<div class="img">
							<img src="img/2-5.jpg" alt="" />
							<p>布雷格的龙卷风</p>
							<p>[［]法]阿尔麦勒·博瓦 </p>
						</div>
					</div>
					<div class="in2"></div>
				</div>
			</div>
		</div>
		<!-- item 3 -->
		<div class="content">
			<div class="headline">旅行情绪</div>
			<div class="right"><div></div></div>
			<ul class="page">
				<li class="active"></li>
			</ul>
			<div class="left"><div></div></div>
			<div class="clear"></div>
			<div class="outer">
				<div class="inner">
					<div class="in1">
						<div class="img">
							<img src="img/3-1.jpg" alt="" />
							<p>恐龙嗷呜吼</p>
							<p>[英]亨利埃塔·史蒂克兰德 </p>
						</div>
						<div class="img">
							<img src="img/3-2.png" alt="" />
							<p>菲菲生气了</p>
							<p>[美]莫莉•卞</p>
						</div>
						<div class="img">
							<img src="img/3-3.png" alt="" />
							<p>爱德华——世界上最恐怖的男孩</p>
							<p>[英]约翰•伯宁罕</p>
						</div>
						<div class="img">
							<img src="img/3-4.png" alt="" />
							<p>走开，绿色大怪物！</p>
							<p>[美]爱德华•恩贝尔利</p>
						</div>
						<div class="img">
							<img src="img/3-5.png" alt="" />
							<p>不是那样，是这样的！</p>
							<p>[德]卡琳•谢尔勒</p>
						</div>
						<div class="img">
							<img src="img/3-6.png" alt="" />
							<p>让我安静五分钟</p>
							<p>[美]墨菲</p>
						</div>
					</div>
					<div class="in2"></div>
				</div>
			</div>
		</div>
		<!-- item 4 -->
		<div class="content">
			<div class="headline">交通方式</div>
			<div class="right"><div></div></div>
			<ul class="page">
				<li class="active"></li>
			</ul>
			<div class="left"><div></div></div>
			<div class="clear"></div>
			<div class="outer">
				<div class="inner">
					<div class="in1">
						<div class="img">
							<img src="img/4-1.png" alt="" />
							<p>小船的旅行</p>
							<p>[日]石川浩二</p>
						</div>
						<div class="img">
							<img src="img/4-2.png" alt="" />
							<p>本吉坐船去旅行</p>
							<p>[美]玛格丽特•布罗伊•格雷厄姆</p>
						</div>
						<div class="img">
							<img src="img/4-5.png" alt="" />
							<p>莎娜的雪火车</p>
							<p>[日]成田雅子</p>
						</div>
						<div class="img">
							<img src="img/4-4.png" alt="" />
							<p>坐汽车旅行</p>
							<p>[西]何塞帕拉蒙</p>
						</div>
					</div>
					<div class="in2"></div>
				</div>
			</div>
		</div>
		<!-- item 5 -->
		<div class="content">
			<div class="headline">自然</div>
			<div class="right"><div></div></div>
			<ul class="page">
				<li class="active"></li>
			</ul>
			<div class="left"><div></div></div>
			<div class="clear"></div>
			<div class="outer">
				<div class="inner">
					<div class="in1">
						<div class="img">
							<img src="img/5-1.png" alt="" />
							<p>到红树林去玩</p>
							<p>[台]陈丽雅</p>
						</div>
						<div class="img">
							<img src="img/5-3.png" alt="" />
							<p>小鼹鼠嘉宝</p>
							<p>[德]穆尔舍茨</p>
						</div>
						<div class="img">
							<img src="img/5-4.png" alt="" />
							<p>小房子</p>
							<p>[美]维吉尼亚•李•伯顿</p>
						</div>
						<div class="img">
							<img src="img/5-7.png" alt="" />
							<p>夏天的天空</p>
							<p>[美]彼得·史比尔 </p>
						</div>
						<div class="img">
							<img src="img/5-8.png" alt="" />
							<p>海浪</p>
							<p>[韩]苏西·李 </p>
						</div>
					</div>
					<div class="in2"></div>
				</div>
			</div>
		</div>
		<!-- item 6 -->
		<div class="content">
			<div class="headline">异域</div>
			<div class="right"><div></div></div>
			<ul class="page">
				<li class="active"></li>
			</ul>
			<div class="left"><div></div></div>
			<div class="clear"></div>
			<div class="outer">
				<div class="inner">
					<div class="in1">
						<div class="img">
							<img src="img/7-1.png" alt="" />
							<p>北纬36度线</p>
							<p>[日]小林丰</p>
						</div>
						<div class="img">
							<img src="img/7-2.png" alt="" />
							<p>北欧旅绘日记</p>
							<p>[日]菅泽佳代</p>
						</div>
						<div class="img">
							<img src="img/7-3.png" alt="" />
							<p>跟我去新加坡</p>
							<p>[台] 虫虫</p>
						</div>
						<div class="img">
							<img src="img/7-4.png" alt="" />
							<p>小小旅行家</p>
							<p>[意]埃利诺·巴索迪 </p>
						</div>
					</div>
					<div class="in2"></div>
				</div>
			</div>
		</div>
		<!-- item 8 -->
		<div class="content">
			<div class="headline">朋辈交际</div>
			<div class="right"><div></div></div>
			<ul class="page">
				<li class="active"></li>
			</ul>
			<div class="left"><div></div></div>
			<div class="clear"></div>
			<div class="outer">
				<div class="inner">
					<div class="in1">
						<div class="img">
							<img src="img/8-1.png" alt="" />
							<p>禅的故事</p>
							<p>[美]琼•穆特</p>
						</div>
						<div class="img">
							<img src="img/8-3.png" alt="" />
							<p>公园里的声音</p>
							<p>[英]安东尼布朗</p>
						</div>
						<div class="img">
							<img src="img/8-5.png" alt="" />
							<p>小羊和蝴蝶</p>
							<p>[美]艾诺·桑卡德   </p>
						</div>
						<div class="img">
							<img src="img/8-6.jpg" alt="" />
							<p>亚历山大和发条老鼠</p>
							<p>[美]李欧·李奥尼 </p>
						</div>
						<div class="img">
							<img src="img/8-7.png" alt="" />
							<p>古利和古拉</p>
							<p>[日]中川李枝子 </p>
						</div>
					</div>
					<div class="in2"></div>
				</div>
			</div>
		</div>
		<!-- item 9 -->
		<div class="content">
			<div class="headline">亲子关系</div>
			<div class="right"><div></div></div>
			<ul class="page">
				<li class="active"></li>
			</ul>
			<div class="left"><div></div></div>
			<div class="clear"></div>
			<div class="outer">
				<div class="inner">
					<div class="in1">
						<div class="img">
							<img src="img/8-4.png" alt="" />
							<p>朱家故事</p>
							<p>[英]安东尼•布朗</p>
						</div>
						<div class="img">
							<img src="img/9-1.png" alt="" />
							<p>存起来的吻</p>
							<p>[法]米歇尔•盖伊</p>
						</div>
						<div class="img">
							<img src="img/9-2.png" alt="" />
							<p>我是霸王龙</p>
							<p>[日]宫西达也</p>
						</div>
						<div class="img">
							<img src="img/9-3.png" alt="" />
							<p>跟屁虫</p>
							<p>[日]宫西达也</p>
						</div>
						<div class="img">
							<img src="img/9-4.png" alt="" />
							<p>彩虹色的花</p>
							<p>[美]麦克•格雷涅茨</p>
						</div>
						<div class="img">
							<img src="img/9-5.png" alt="" />
							<p>吃掉你的豌豆</p>
							<p>[美]凯斯、格雷</p>
						</div>
						<div class="img">
							<img src="img/9-7.png" alt="" />
							<p>冬冬，等一下</p>
							<p>[英]麦基</p>
						</div>
					</div>
					<div class="in2"></div>
				</div>
			</div>
		</div>
		<!-- item 10 -->
		<div class="content">
			<div class="headline" style="width:180px">因美食引发的思考</div>
			<div class="right"><div></div></div>
			<ul class="page">
				<li class="active"></li>
			</ul>
			<div class="left"><div></div></div>
			<div class="clear"></div>
			<div class="outer">
				<div class="inner">
					<div class="in1">
						<div class="img">
							<img src="img/10-2.png" alt="" />
							<p>黑猩猩的面包店</p>
							<p>[日]白井三香子</p>
						</div>
						<div class="img">
							<img src="img/10-3.png" alt="" />
							<p>肚子里有个火车站</p>
							<p>[德]鲁斯曼•安娜</p>
						</div>
						<div class="img">
							<img src="img/10-4.png" alt="" />
							<p>蚂蚁和西瓜</p>
							<p>[日]田村茂 </p>
						</div>
						<div class="img">
							<img src="img/10-1.png" alt="" />
							<p>蛋糕去哪了</p>
							<p>[荷兰]郑宗琼</p>
						</div>
					</div>
					<div class="in2"></div>
				</div>
			</div>
		</div>
		<!-- item 11 -->
		<div class="content">
			<div class="headline">惊吓惊喜</div>
			<div class="right"><div></div></div>
			<ul class="page">
				<li class="active"></li>
			</ul>
			<div class="left"><div></div></div>
			<div class="clear"></div>
			<div class="outer">
				<div class="inner">
					<div class="in1">
						<div class="img">
							<img src="img/11-1.png" alt="" />
							<p>幸运的内德</p>
							<p>[美]雷米•查利普</p>
						</div>
						<div class="img">
							<img src="img/11-2.png" alt="" />
							<p>生命的故事</p>
							<p>[美]维吉尼亚•李•伯顿</p>
						</div>
						<div class="img">
							<img src="img/11-3.png" alt="" />
							<p>倒霉的一只羊</p>
							<p>[法]西尔万•维克多</p>
						</div>
						<div class="img">
							<img src="img/11-4.png" alt="" />
							<p>隧道</p>
							<p>[英]安东尼布朗</p>
						</div>
						<div class="img">
							<img src="img/11-5.jpg" alt="" />
							<p>勇气</p>
							<p>[美]伯纳德·韦伯 </p>
						</div>
					</div>
					<div class="in2"></div>
				</div>
			</div>
		</div>

		<div id="bookText">
			<div id="arrow"></div>
		</div>

	</div>


	<?PHP include 'bottom.php'; ?>

</body>