	<import type="css" file="css.record" />

	<include file="Common/Header" />
	<div class="container show">
	 	<H3><span>上一篇&ensp;</span>白路随想 -- 邓武浩 <span>&ensp;下一篇</span></H3>
		<figure data-am-widget="figure" class="am am-figure am-figure-default " data-am-figure="{  pureview: 'true' }">
		  <img src="__PUBLIC__/images/record1.jpg" alt="白路随想 -- 邓武浩"/>
		</figure>
		<p>个人的心中都会有一个关于旅行的梦，不管是想要逃离现实，还是想要追求旅行中的风花雪月，亦或者是增长知识，丰富见闻，从地理距离说，旅行不过是从自己活腻了的地方到别人活腻的地方，从意识形态上来讲，旅行不过就是满足自己的精神需求，按照文艺青年的说法就是，在旅途中找回自己，发现另一个自己，让自己的灵魂有所归依等等形而上学的空大虚。</p>
		<p>很幸运的是，我也有一个关于旅行的梦，读书那会，老师问我们长大后的理想是什么，有做医生的，科学家的，教师的，开火车飞机的，当然还有老板的，当官的，而我却梦想着做一名导游，游遍天下的山山水水，看尽世间的民俗风情，尝遍各地的稀奇美食，如今我是一名导游，尽管还未能走遍世界，但我一直在努力，离开大学两年了，随着书生意气的散去，慢慢的将自己沉淀下去，看的多了，眼见自然就宽了，所以很多的时候，我一直在问自己，旅行的意义到底在哪，一直未找到答案，风景再美于我而言，不过就是世间的俗物罢了，走到哪里都是商店，都是吆喝叫卖，都是假货次货横行，都是赤裸裸的金钱闪闪，还有拥挤不堪的人群。厌倦了世俗的旅行，就必须找到另一种方式进行填充，尽管我一直在找寻，可客观现实，却背道而驰，始终无法找到适合自己的。</p>
		<p>属于巨蟹座的我，身上一直散发着无私的爱与情。也许我在等的，不过就是那一句召唤而已，一直有做公益的心，却苦于找不到可以随从的路，或者说是团体，所以在朋友圈看到那则招募信息，我毫不犹疑的就下定决心要前往，于是各种请假，各种推约，最终我踏上了前往贵州的火车，开始了一段从未有过的旅行，叫做公益旅行。很多朋友都在问，你是去旅行呢，还是去做公益呢？按照传统的思维就是，两者必须是分开的，旅行就意味享受，意味着景区与酒店，公益就是做好事，捐钱捐物，完了还得吃苦受劳。我也是世间人，也对公益旅行产生过怀疑，可是见到那一脸风尘仆仆的小草姐姐，我就知道这将会是一场充满意义的旅行，从他口中得知，白路虽如世外桃源，却也是摆脱不了平穷落后四个字，脑子里全是关于苗家山寨的画面。</p>
		<p>火车缓缓地驶出站台，一路前行，车窗外面的风景一路倒退，有人说最美的风景在路上，平常走路太匆匆，错过的往往是最美的风景，终点固然美丽，却远不及这车窗外的惊鸿一瞥，足以摄人心魄，景由心生，说的大概就是这个理吧，当一个人可以肆意的放下包袱，心无所系的开始一段旅程，那种不言而喻的兴奋，也许只有尝试过的人懂吧，这时，就算在平常不过的一条河流，一座高山，在人眼里，都是最美的风景，望着窗外，思绪飘飞，自己有多久没有这样轻松过，很久了吧。当同行的伙伴，热火朝天的聊着各自趣事，原不喜热闹的我，也参与到了这一场关于公益与旅行的故事中去。从说话谈吐，到行为举止，给我的第一感觉就是，小草姐姐是一位很要强的人，来自东北的白山黑水，自然也就多了一份闯关东人的坚毅与执着，也就是这样一位领路人，带我们走进了白路。</p>
		<p>每个人从出生到死亡，都会经历无数或开心，或悲伤，或无奈的事，都说前程往事，过了就散了	，再说出来就成了故事，留在脑海里就成了记忆。很多的事情，我宁愿它是记忆，也不愿把它变成故事，因为并不是人人都愿意消费你的故事。火车上，有人吃食闲聊，有人憨憨大睡，也有人棋牌消遣，也有人呆坐望天，似有神思。火车里的百态人生，我们一庸庸俗人，看不懂也猜不透，只知道每个人都会有目的地，到站了就下车，有人下车就有人上车，于是原来的位置，将又会是另一番风景，如此循环往复，无始无终。庆幸的是，我知道自己将会在那一站下车，但我不知道的是，下一个上车的人，会继续延续我的故事吗？如若不是，但愿他比我精彩。同行的伙伴问我为什么会参加这一次旅行，其实我没有特别明确的目的，看风景也罢，见世风人情也罢，不过就是完成我只是想出去走走的私心，关于公益，我个人力量太过于渺小，说要带来或说带去什么，最后不过是为了老了以后，拿着蒲扇，坐着摇椅，打发闲情，多积累了一点谈资。但我愿意，以我微小的行动，渺小的力量，去感染身边每一个人，所谓积少成多，人人参与，小草的公益之路，将会一马平川，我相信。</p>
		<p>走过山，跨过水，一路颠簸，一路风尘，行走的力量，有时真的可以让人忘记饥饿与寒冷。船舷外的这条河叫做清水江，原本高海拔山地的气温已是让人寒颤，交织着水面呼啸而来的江风，夹杂着股股江水的腥味，夜幕下的行路人，多了一份对于前途的恐惧与迷茫，也就是这样的一条河川，养活了两岸成千上万的苗家儿女，旧时的苗家山寨，与外界的交通多有不便，进出大山，还得靠这条河行船，才能把生活所需，源源不断的输送到各个山寨。这是大自然对苗家人的最好的馈赠，只是随着近几年的经济大开发，外来人口的大量涌入，原本和谐的人与自然，也正面临着一场大变革，外面世界对于清水江里的清水鱼的需求量逐年上升，这也就进一步的加剧了清水鱼的养殖量，所直接导致的后果就是，环境的恶化。看着那一大片的水浮莲，清水江的水质拯救，已是到了刻不容缓的地步了。下了船，负重而上，清水江慢慢的消失在夜色中。关于夜，我是不会去抗拒的，尤其是下雨的夜晚，伏窗听雨，那是再诗意不过的了，只是现在，除了漫天闪耀的星星，还有就是那泥泞的道路，所有的诗意，都淹没在急切到达目的地的渴望中去。</p>
		<p>古语有云，一方水土养一方人，一方人也就造就了一方特有的民俗风情，深藏大山里苗家文明，最早起源可以追溯至五六千年前的炎黄时代，当时的长江中下游生活着一支部落 ，叫做九黎联盟部落，部落首领是蚩尤，后来由于领土扩张，资源抢夺，与当时生活在黄河，长江中上游的炎黄联盟展开了激烈的厮杀，最后战败的蚩尤被擒杀，九黎联盟彻底的失败，退回南方，直到三苗时期，逐渐强大的苗家联盟开始了新一轮的争夺大战，才有了余秋雨笔下的“舜逐三苗于三危”的历史。为了躲避战乱，开展生产，战败的苗家祖先，不得不选择隐居深山，开荒种地，这才有了我们现在看到的光辉灿烂的苗家文明，很庆幸，能够踏足这块神奇的土地，白路村，展留村，九龙村，这几个村庄是典型的苗族村寨，传统的吊脚楼，酸爽的饮食，大气而精致的苗服，高亢嘹亮的苗族飞歌，所有电视镜头里关于苗族的元素，在这里都可以找到印记，当然还有热情好客的苗家老乡。龙老师作为一名纯正的苗家汉子，自是有山一般的意志，铁定了的教书育人，就不曾离开这片山水，老一辈的苗民，已是生活不易，再穷也不能穷了教育，也许走出大山的方式可以有很多种，但是按照龙老师的说法，读书上进，是最好的方式，所以不管客观条件如何艰苦，几十年来，风雨未改，毅然决然的选择了这片土地，我是很佩服他的。</p>
		<figure data-am-widget="figure" class="am am-figure am-figure-default " data-am-figure="{  pureview: 'true' }">
		  <img src="__PUBLIC__/images/record1_2.jpg" alt="苗家老乡"/>
		  <figcaption class="am-figure-capition-btm">苗家老乡</figcaption>
		</figure>
		<p>在白路的这几天，收获了很多的感动，来自苗家老乡，来自同行的伙伴，来自那五十几个学生。这里没有标准的足球场，一个水瓶，一个纸团，就是足球，大家也乐此不疲；这里没有像样的图书馆，寥寥无几的图书，冬进寒风，夏入雨水的木质隔离房，就是图书馆；这里没有高大的教学楼，一座建于上世纪的木质吊脚楼，早已倾斜十五度，只要稍微大力的跺两下脚，就像是要坍塌了一样，而我们就是在这里上课.......</p>
		<p>外面的世界很精彩，这里的世界太无奈，尽管物质上很缺乏，但是我很少看到学生眼里会漏出伤感之色，反倒是多了一份来自大山的坚韧与刚毅，每天上课下课，都是开开心心的，吃饭睡觉，玩耍打闹，相对于很多城市里的同龄人，他们更显的活泼灵动。和他们呆在一起，很容易被他们的真诚感染，相对于我们这些外来人，他们少了很多的防范心里，只是纯粹的想和你玩，想和你说说话，或许在他们的日常教育里，是没有拒绝陌生人这一项的，或者是他们骨子里就有容纳一切陌生人的习惯。也就是和他们在一起，才可以肆无忌惮的获取正能量。</p>
		<p>待续 ...... <img style="width: 31px; height: 27px" src="__PUBLIC__/images/FlyingBook.png" alt="" /></p>

		<a href="javascript:void(0)" data-am-smooth-scroll class="toTop"></a>
	</div>

	<div class="container">
	 	<H3><span>上一篇&ensp;</span>与愿意承担的人一起上路 <span>&ensp;下一篇</span></H3>
	 	<h3> -- 小草</h3>
		<figure data-am-widget="figure" class="am am-figure am-figure-default " data-am-figure="{  pureview: 'true' }">
		  <img src="__PUBLIC__/images/record2.png" alt="与愿意承担的人一起上路 -- 小草"/>
		</figure>
		<div>
			<p style="padding-top: 20px">旅行</p>
			<p>对我来说</p>
			<p>是与愿意承担的人一起上路</p>
			<p>否则就与自己走</p>
			<p style="padding-top: 20px;">一个人的旅行</p>
			<p>一群人的旅行</p>
			<p>只要是不霸道，特别自我为中心的人</p>
			<p>我都愿意与之同行</p>
		</div>

		<div>
			<p>大家都认为我是个公益人。其实在社会上做一些不妨碍自己、不伤害自己的事、不妨碍别人、不伤害别人的事，再以力所能及的心态，遇见之时，助一臂之力，每个人都是公益人。</p>
			<p>我也有力不从心的时候，但公益是我的一种生活态度。</p>
			<p>我的旅行从贵州开始，一个苗族的小山寨，黔东南剑河县南寨乡白路村，火车、汽车 、轮船、徒步山路，好有探险的味道。</p>
			<p>记得第一年去已是四年前的夏天，那时候山里没通车，我们运送过去的乒乓球台都是老乡和马，从小码头合力小心翼翼地运上山去，走了多久，已经不记得……之后每年我都要去几次，比回家还勤快。</p>
			<p>为什么那里如此吸引我？之后我还带了好些有兴趣同行的朋友一起去。那里的人勤劳淳朴，孩子可爱喜欢读书，每次去都有老乡热情的与我打招呼，还有贴心的招待。也可能是因为我们捐了图书过去，但无论如何，那种热情不是装出来的，是真诚的，是真实的。</p>
		</div>

		<div>
			<p style="padding-top: 40px">旅行</p>
			<p>于我来说</p>
			<p>一个珍贵的地方</p>
			<p>我喜欢旧地重游</p>
			<p>以感受我活着的意义</p>
			<p>——那种被挂念和好久不见见面后的欢乐，令我满满的感动，也更加喜爱这里的人，珍惜这里的友情。</p>
		</div>

		<div>
			<p>2014年是我的间隔年，我在白路苗寨小学里呆了一个学期，给学前班的小朋友上课、讲故事，周末和村民一起收割，一起捉田鱼……哈哈～我总是捉不到！</p>
			<p>山里空气好，常常可以在早上看云海；在夜晚看星星，我喜欢在晴朗的夜下，躺在操场，望着满天繁星，还时不时的有流星划过，多么惬意啊！</p>
			<p>也是这一个学期，让我更深刻的认识了这里。这里自然环境健康舒适，蔬菜好甜，肉好香。我最爱的还是这里的田鱼和辣椒。猪猪每日吃的都是大米南瓜青菜。这里的动物好幸福！下辈子做畜生都要投胎到这里！</p>
			<p>可是这里的人，收入很少，大丰收的稻米每家每年都吃不完。这里的人都出去打工，留下的吊脚楼里有空房间，这里的人很为孩子的未来发愁……</p>
			<p>但这里的人勤劳，这里风景美、空气好、还有好吃哒！虽然乡村比不上城市看着干净，但是看不见的干净更让人安心——那就是化学污染少。我不说无化学污染，因为那是大话。</p>
		</div>

		<figure data-am-widget="figure" class="am am-figure am-figure-default " data-am-figure="{  pureview: 'true' }">
		  <img src="__PUBLIC__/images/record2_4.png" alt="与愿意承担的人一起上路 -- 小草"/>
		</figure>


		<div>
			<p>旅行</p>
			<p>于我来说</p>
			<p>好的地方就要分享</p>
		</div>

		<div>
			<p>也许在这里就会遇见志同道合的朋友，一起吃过苦、一起享过乐，更能凸显大人类的真情。</p>
			<p>同我一起来过的朋友大部分都喜欢这里，也更喜欢聚在一起。这群互帮互助的小伙伴吧，人都是被相互影响的，你对他好，他也会对你好。</p>
			<p>有句话说，重要的不是去哪里，重要的是一起同行的人。</p>
			<p>这么独特的路线，希望享受美好的东西，就要付出爬山吃苦的代价。愿意选择的人，一定是乐意承担的人。与这样的人一起同行，一定不会错，你感觉呢？</p>
		</div>

		<p>待续 ...... <img style="width: 31px; height: 27px" src="__PUBLIC__/images/FlyingBook.png" alt="" /></p>

		<a href="javascript:void(0)" data-am-smooth-scroll class="toTop"></a>
	</div>

	<div class="container">
	 	<H3><span>上一篇&ensp;</span>儿童为什么不要去旅行 ? <span>&ensp;下一篇</span></H3>
	 	<h3>   —— 对旅行的一种反思</h3>
		<figure data-am-widget="figure" class="am am-figure am-figure-default " data-am-figure="{  pureview: 'true' }">
		  <img src="__PUBLIC__/images/record3.png" alt="贵州白路小学的孩子, 姐姐带着弟弟走迷宫"/>
		</figure>
		<p>作者前言：这个题目不是为了博人眼球, 你也别着急去批判, 昨天我去听了"童书妈妈三川玲"的讲座, 感慨颇多, 要问为什么回来写了这篇文章, 容我再多介绍一些背景. </p>
		<p>   "童书妈妈三川玲"过去是童书编辑, 有了孩子之后, 阅读了家教类图书排行前200位的书籍, 开始撰写与此相关的文章, 乘着微信公众号的东风, 加上深厚的编辑推广功底, 基于与读者的大量真实调研信息, 带着自己鲜明的立场观点, 她的公众号获得了前所未有的成功. 三川老师希望能不说一句违心的话, 通过文章在家长、孩子和学校之间进行沟通, 以期能带动教育转变. </p>
		<p>昨天, 她特意提到一篇被转发最多的文章《儿童为什么要去旅行》, 这篇文章被境内外多家旅游机构采纳, 三川老师调侃这是自己单篇收入最贵的文章, 为此收获了近30万的酬劳. </p>
		<p>我尽量把以上描述写的中性一些, 没有艳羡也没有不屑, 回来我认真读了《儿童为什么要去旅行》后, 开始怀疑这其实是一篇定制文章（这是我的推测, 如果不犯法的话, 建议大家也去看一下<a href="http://blog.sina.cn/dpool/blog/s/blog_4c23fcb80101tllp.html?ref=weibocard&from=singlemessage&isappinstalled=0" target="_blank">［点击查看］</a></p>
		<p> "人云亦云"和"人不云, 我亦不云"在我们这个时代太多了, 一篇被广泛转发的文章, 不提经济收入, 就对读者本身的影响来看, 它的坏处就像它的好处一样多. 儿童与旅行的关系, 并不只有这一个角度, 所以有了今天这篇文章《儿童为什么不要去旅行》, 不是挑战, 不求闻达, 就是个人的表达. 微信的广告语说得好：再小的品牌, 话总是让说的. </p>
		<div>
			<p>不要带儿童去旅行</p>
			<p>以"长见识"的名义绑架了家庭</p>
		</div>
		<p>经济水平的提高, 让孩子全面发展的渴望, 让儿童旅行变成热门, 各种"去哪儿"火爆, 各种驴啊、牛啊的层出不穷, 从每个周末的公园游, 到五一、十一的国内游, 再到寒暑假的境外游学、夏令营, 旅行费用, 已经继择校费用、兴趣班费用之后, 位列第三大教育花钱杀手. </p>
		<p>   在"长见识"的背后暗流涌动的是消费层次的较量：你带不带孩子出去玩？你带到哪里去玩？你们住什么酒店？孩子的玩伴都去过哪里？你们买什么礼物回来给老师同学？这一个假期的出行, 在孩子的作文里怎么被描述？</p>
		<p> 放假前后, 在妈妈们接孩子放学的聚点, 在办公室有孩子的父母中午吃饭的时候, 在你跟邻居家长碰面的寒暄里, 聊得都是"放假你们去哪啊", 这一句话背后, 体现的不是你的教育观念, 而是你有钱有闲吗？你玩得起吗？不管你是真心想带孩子出去"长见识", 还是比较心做祟, 不管你愿意不愿意, 不管你的经济实力如何, 你都被卷入这阵风中, 不能不去, 也不得明辨. </p>
		<p>为炫耀而去旅行, 不如不要去！</p>

		<div>
			<p>不要带儿童去旅行</p>
			<p>见到了, 不等于长了见识</p>
		</div>
		<p>城市化生活带来了玩伴匮乏、自然接触匮乏, 电子设备和大型游乐场泛滥, 为弥补这一缺失, 我们选择带孩子出行. </p>
		<p>可是我们带孩子去香港、去韩国, 去马尔代夫, 去欧美, 现在还推出了最适合带孩子去的十家度假酒店……, 这些量身定做的高大上旅行, 只是把孩子从你家门口商场里的小游乐场, 带到了一个更大的游乐场, 从一个城市的海洋公园, 带到另一个城市的动物园、海洋公园…… </p>
		<p> "见到没见过的"和"长了见识"不能划等号, 昂贵的投入, 带来的并不是与之相等的见识增长, "孟母三迁"为的是让孩子在"好环境"中得到熏陶, 到现代却逐步演变成对"物质繁荣"的嘘唏感叹. </p>
		<p>三川老师提到的所谓世界观、人生观, 在这些更豪华, 更现代的环境中, 得到的多是享乐与消费, 如果我们一味强调旅行, 而不去审视什么样的旅行, 最后结果就是, 大家拿钱给航空公司和旅游公司做贡献. </p>
		<p><span>为享乐而去的旅行, 不如不要去！</span>也许你会说, 我带孩子去的都是户外, 不是高级场所, 那么下面一段是说给你听的. </p>

		<div>
			<p>不要带儿童去旅行</p>
			<p>把人生体验还给孩子</p>
		</div>
		<p> "在旅途中, 看到各种各样的生活, 思考别人为什么活, 自己应该怎么去活, 旅途所见与内心所遇结合起来, 明亮了眼眸, 充盈了精神, 体验了生命, 改变了人生", 这是三川老师在文章中提到的旅行的意义, 这其中更多是想当然的"我认为"和"我以为". </p>
		<p>小孩子, 尤其是学龄前儿童, 不管她到哪, 她最想去的还是游乐场玩, 那么多名胜古迹她不在乎, 不感兴趣, 于是大人硬要她看, 还硬要她看出点什么, 实在可恨可笑. </p>
		<p>一个孩子, 也许乐意对着马路牙子发呆一上午, 而不在意是中国的马路牙子还是外国的, 这是她发自内心的探索过程. </p>
		<p>孩子到底能从中看到什么, 我们无从得知, 但有一点是肯定的, 她看到的, 肯定跟大人看到的不一样, 所以, 所有大人以为的旅行目的, 从头到尾都是错的. 回想自己的成长经历, 当你真正开始思考"人生的意义"、思考"我为什么存在"的时候, 你才对自己和别人要"怎么活着"感兴趣, 才有探索的欲望, 甚至有人到了成年, 不也是浑浑愕愕无明的活着. </p>
		<p>为什么把那些, 孩子十几岁要跟同龄人结伴而行的地方, 在小时候就由你带着他去呢？等到他大了, 想要自己探索这个世界的时候, 看到你们曾经在各个景点照的照片, 你觉得他还有兴趣再去一次吗？很多时候, 我们带孩子转遍全世界的结果, 不是让他对这个世界有新的"认识", 只是他被迫在你的安排下, 完成了家长的夙愿. </p>
		<p>没有一个孩子喜欢这样的旅行, 是的, 儿童不要这样的旅行. 这跟你让他去学钢琴, 让他考好成绩有什么不同的高级之处吗？行万里路长见识, 长了见识以后呢, 为了孩子的竞争力更强, 然后找个好工作, 有一个你认为意义上的好生活, 这与孩子的幸福有一毛钱关系吗？</p>
		<p>当今的教育, 就像这发疯的儿童旅行一样, 以"为孩子好"的名义不及思索的用一件错事去弥补另一件错事. </p>
		<p>没有欲望去探索的旅行, 不如不要去！</p>

		<div>
			<p>不要带儿童去旅行</p>
			<p>旅行对孩子的意义取决旅行对父母的意义</p>
		</div>
		<p>我们希望孩子读万卷书, 也能行万里路. 至于他长大以后, 是不是闭关狭隘, 取决于你对旅行的兴趣和行动. 我们带着孩子出去, 全是围着孩子转, 不停的告诉孩子看, 你从中看到了吗？</p>
		<p>这就跟兴趣班是一样的, 一个没有业余爱好的家长, 培养不出有艺术情趣的孩子, 孩子学的是父母, 你先去行万里路, 注意, 不是为了带孩子出去才行万里路, 而是因为你自己对旅行感兴趣. 你能做到吗？</p>
		<p>不知道你们有没有被装到笼子, 带到野生动物园的经历, 笼子外那些悠闲的动物, 是如何看我们呢？其实, 很多旅行无处不在牢笼之中, 我们经常自欺       欺人的为旅行而旅行, 你真的从中体会到了你讲的那些意义吗？</p>
		<p>对旅行没有热爱的父母, 不如不要带孩子去！</p>
		<div>
			<p>不要带儿童去旅行</p>
			<p>对生活的观察和思考, 不在酒店和景点里</p>
		</div>
		<p>不管走到哪, 我们住的是标准化的酒店, 看得是大门票套着小门票的景点, 甚至吃喝, 都是在各地都有的连锁快餐店里解决. 难道在名胜古迹照了相, 就算是旅行吗？等我们离开的那一刻, 我们于这个新的城市, 这个城市的生活, 还是一片陌生, 或者说是根本没有过融入和接触. </p>
		<p>简单的参观游览, 拿回来的一堆照片, 那不是真正的旅行. 你一定要在某个地方居住一段时间, 才能体会当地人的生活和风土人情. 走马观花式的旅游, 除了身体的疲惫和人云亦云的感受, 哪里会有对生活、对生命的观察和思考？</p>
		<p>如果你能在假期跟某个家庭互换, 让孩子坐上当地的公交车, 去当地的集市, 你有足够的时间, 让孩子去村里那条小河汤水, 让她坐在门口的老树下打盹, 让她交到几个当地的小朋友……这段经历给她带来什么, 我们不知道, 但我们知道的是, 她经历的, 都不是人为制造的, 都是不卖票的真实生活……</p>
		<p>走马观花的旅行, 要它何用？</p>
		<div>
			<p>不要带儿童去旅行</p>
			<p>那怎么办？</p>
		</div>
		<p>以上旅行, 我坚决提倡儿童不要去, 那是不是就不要带孩子出去了？天天在家观察马路牙子？</p>
		<p>当你明白旅行与否可以不畏压力, 不为炫耀……</p>
		<p>当你明白享乐主义盛行之下的变味旅行……</p>
		<p>当你不去给孩子安排不适合他的旅行, 剥夺他的体验……</p>
		<p>当你能首先重拾自己对旅行的热爱……</p>
		<p>当你真正找到观察生活之源头……</p>
		<p>你就知道怎么去做了……</p>
		<p> ▪ 当她很小, 渴望在草地上打滚, 抓虫子, 渴望跟小朋友玩过家家的时候, 我不会只为满足自己, 痴迷于带着她长途劳顿……</p>
		<p> ▪ 当他长到足够大一点, 允许他自由安排自己和小伙伴的假期, 一起去经历这个世界……</p>
		<p> ▪ 当她在一篇《望天门山》读过之后, 对我说：我也想去天门山看看的时候, 我会带她去……</p>
		<p> ▪ 当我在坚持户外活动, 她开始感兴趣的时候, 我会让她跟着去……</p>
		<p> ▪ 当我有机缘, 真的在给她设计生活经历的时候……</p>
		<p>是的, 这才是起点. </p>
		<p>不是只有坐飞机出门才叫旅行；</p>
		<p>没有思考与欲望在先, 不会有所谓的新发现；</p>
		<p>没有榜样, 再多的安排都是徒劳. </p>
		<p> "儿童要旅行"已经被妖魔化, 又被这样的大V强调之后, 更是浩浩荡大势所趋. 不明所以, 不得始终,儿童不要去旅行, 只是期望父母们不要"人云亦云"的带孩子去, 给孩子留些体验, 做她这个年龄该做的、想做的事情. </p>
		<p>讲到这里, 你应该清楚, 我之所以起这样的文章题目是因为与另一篇文章的对应, 这世上凡是绝对的事情都是矫枉过正, 既然这样, 就写到这吧. </p>
		<p>以上内容转载自微信公众号［北京华德福社区］：waldorfedu</p>
		<div id="readMore">
		阅读更多:
			<a href="http://mp.weixin.qq.com/s?__biz=MjM5MzgxNDMwMA==&mid=205633451&idx=2&sn=45a91497b6535561cfa58fb14e43e3f3&scene=1&key=8ea74966bf01cfb65b8adaba63fcbafc8cfc09c4514f9ae300f477504368f6dce8db68e1493a423ecc1b7435240ab963&ascene=1&uin=MTYzNDc3MTgwMQ%3D%3D&devicetype=webwx&version=70000001&pass_ticket=4rxyZeSN%2BhspA0oBQKDWnBscxb5KJkh7GDOjsbAq3TENyoQeAJcPxK8M7ylxvoxf" target="_blank">爱孩子的三个阶段：陪伴、教练、尊重</a>		
			<a href="http://mp.weixin.qq.com/s?__biz=MzAxNDAyNTUyMA==&mid=337624985&idx=1&sn=a8fc675730b15c54b39ed8883acaaa0f&scene=1&key=8ea74966bf01cfb62b1895cad837bab1f9d8a43fbe2d833e1deeed302ecc1723b4c45ed6f3ea740012762763b9355598&ascene=1&uin=MTYzNDc3MTgwMQ%3D%3D&devicetype=webwx&version=70000001&pass_ticket=4rxyZeSN%2BhspA0oBQKDWnBscxb5KJkh7GDOjsbAq3TENyoQeAJcPxK8M7ylxvoxf " target="_blank">让孩子懂得尊重和鼓励别人更重要</a>		
		</div>

		

		<p>待续 ...... <img style="width: 31px; height: 27px" src="__PUBLIC__/images/FlyingBook.png" alt="" /></p>

		<a href="javascript:void(0)" data-am-smooth-scroll class="toTop"></a>
	</div>