<!DOCTYPE html>
<html lang="zh-cn">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="keywords" content="益家行,公益,益家行公益,yijiaxing,public welfare,org">
	<title>维艾工作室</title>
	<link rel="stylesheet" type="text/css" href="css/studio.css">
	<script src="js/jquery.min.js"></script>
	<script type="text/javascript" src="js/studio.js"></script>
</head>
<body>
	<div class="header">
		<p>中山大学维艾工作室 &ensp; | &ensp; 提升公益传播正能量</p>
	</div>

	<div id="studio_all">
		<img src="img/studio.png" style="width: 214.5px; height: 300px" alt="" />
		<img src="img/studio_text.png" style="width: 443px; height: 40px" alt="" />

		<div id="studio_member">
			<div id="studio_who">
				<img src="img/studio_who.png" alt="" />
				<div class="studio_transparent"><div style="background: #00aa90"></div></div>
				<div class="studio_introduction studio_hide" style="background: #00aa90">
					<div class="studio_introduction_text">
						<p style="padding-top: 30px">1个导师＋6个设计妹子＋5个程序猿</p>
						<p>来自中山大学传播与设计学院、中山大学软件学院</p>
						<p>男女老少咸鱼~~</p>
					</div>
				</div>
				<p class="studio_introduction_close"> &lt; </p>
			</div>
			<div id="studio_shaoke">
				<img src="img/studio_shaoke.png" alt="" />
				<div class="studio_transparent"><div style="background: #db933d"></div></div>
				<div class="studio_introduction" style="background: #db933d">
					<p class="studio_introduction_headline">Shaoke</p>
					<div class="studio_introduction_text">
						<p>中山大学媒体创意系</p>
					</div>
					<p class="studio_introduction_subhead">讲师</p>
				</div>
				<p class="studio_introduction_close"> &lt; </p>
			</div>
			<div id="studio_lixiang">
				<img src="img/studio_lixiang.png" alt="" />
				<div class="studio_transparent"><div style="background: #439e53"></div></div>
				<div class="studio_introduction" style="background: #439e53">
					<p class="studio_introduction_headline">李想</p>
					<div class="studio_introduction_text">
						<p>中山大学媒体创意系</p>
						<p>2011级</p>
					</div>
					<p class="studio_introduction_subhead">视觉设计</p>
				</div>
				<p class="studio_introduction_close"> &lt; </p>
			</div>
			<div id="studio_shaoxiong">
				<img src="img/studio_shaoxiong.png" alt="" />
				<div class="studio_transparent"><div style="background: #008bba"></div></div>
				<div class="studio_introduction" style="background: #008bba">
					<p class="studio_introduction_headline">周少雄</p>
					<div class="studio_introduction_text">
						<p>中山大学软件工程</p>
						<p>2012级</p>
					</div>
					<p class="studio_introduction_subhead">程序开发</p>
				</div>
				<p class="studio_introduction_close"> &lt; </p>
			</div>
			<div id="studio_qiaoyun">
				<img src="img/studio_qiaoyun.png" alt="" />
				<div class="studio_transparent"><div style="background: #a5459c"></div></div>
				<div class="studio_introduction" style="background: #a5459c">
					<p class="studio_introduction_headline">徐俏云</p>
					<div class="studio_introduction_text">
						<p>中山大学媒体创意系</p>
						<p>2011级</p>
					</div>
					<p class="studio_introduction_subhead">用户研究 ＋ 交互设计</p>
				</div>
				<p class="studio_introduction_close"> &lt; </p>
			</div>
			<div id="studio_jiehui">
				<img src="img/studio_jiehui.png" alt="" />
				<div class="studio_transparent"><div style="background: #2170b4"></div></div>
				<div class="studio_introduction" style="background: #2170b4">
					<p class="studio_introduction_headline">吴洁慧</p>
					<div class="studio_introduction_text">
						<p>中山大学媒体创意系</p>
						<p>2011级</p>
					</div>
					<p class="studio_introduction_subhead">视觉设计</p>
				</div>
				<p class="studio_introduction_close"> &lt; </p>
			</div>
			<div id="studio_xiaohang">
				<img src="img/studio_xiaohang.png" alt="" />
				<div class="studio_transparent"><div style="background: #505f76"></div></div>
				<div class="studio_introduction" style="background: #505f76">
					<p class="studio_introduction_headline">苏晓航</p>
					<div class="studio_introduction_text">
						<p>中山大学软件工程</p>
						<p>2013级</p>
					</div>
					<p class="studio_introduction_subhead">程序开发</p>
				</div>
				<p class="studio_introduction_close"> &lt; </p>
			</div>
			<div id="studio_what">
				<img src="img/studio_what.png" alt="" />
				<div class="studio_transparent"><div style="background: #b9674c"></div></div>
				<div class="studio_introduction studio_hide" style="background: #b9674c">
					<div class="studio_introduction_text">
						<p style="line-height: 40px">组织在校大学生</p>
						<p style="line-height: 40px">为<span>公益组织</span>提供免费或低成本的设计服务</p>
						<p style="line-height: 40px">同时给<span>大学生</span>提供实践机会以增加项目经验</p>
					</div>
				</div>
				<p class="studio_introduction_close"> &lt; </p>
			</div>
			<div id="studio_jiaxin">
				<img src="img/studio_jiaxin.png" alt="" />
				<div class="studio_transparent"><div style="background: #b9674c"></div></div>
				<div class="studio_introduction" style="background: #b9674c">
					<p class="studio_introduction_headline">文嘉欣</p>
					<div class="studio_introduction_text">
						<p>中山大学媒体创意系</p>
						<p>2012级</p>
					</div>
					<p class="studio_introduction_subhead">用户研究 ＋ 交互设计</p>
				</div>
				<p class="studio_introduction_close"> &lt; </p>
			</div>
			<div id="studio_how">
				<img src="img/studio_how.png" alt="" />
				<div class="studio_transparent"><div style="background: #939393"></div></div>
				<div class="studio_introduction studio_hide" style="background: #939393">
					<div class="studio_introduction_text">
						<p style="line-height: 24px; font-size: 17px">－了解NGO的需求</p>
						<p style="line-height: 24px; font-size: 17px">－制定VI策略</p>
						<p style="line-height: 24px; font-size: 17px">－开展设计工作</p>
						<p style="line-height: 24px; font-size: 17px">－产品包括LOGO、办公</p>
						<p style="line-height: 24px; font-size: 17px">&ensp;&ensp;用品、服饰、网站、手</p>
						<p style="line-height: 24px; font-size: 17px">&ensp;&ensp;机应用</p>
					</div>
				</div>
				<p class="studio_introduction_close"> &lt; </p>
			</div>
			<div id="studio_laiyuan">
				<img src="img/studio_laiyuan.png" alt="" />
				<div class="studio_transparent"><div style="background: #a0a131"></div></div>
				<div class="studio_introduction" style="background: #a0a131">
					<p class="studio_introduction_headline">赖渊</p>
					<div class="studio_introduction_text">
						<p>中山大学软件工程</p>
						<p>2013级</p>
					</div>
					<p class="studio_introduction_subhead">程序开发</p>
				</div>
				<p class="studio_introduction_close"> &lt; </p>
			</div>
			<div id="studio_meixuan">
				<img src="img/studio_meixuan.png" alt="" />
				<div class="studio_transparent"><div style="background: #2170b4"></div></div>
				<div class="studio_introduction" style="background: #2170b4">
					<p class="studio_introduction_headline">王美璇</p>
					<div class="studio_introduction_text">
						<p>中山大学媒体创意系</p>
						<p>2012级</p>
					</div>
					<p class="studio_introduction_subhead">平面设计 ＋ UI</p>
				</div>
				<p class="studio_introduction_close"> &lt; </p>
			</div>
			<div id="studio_wushuang">
				<img src="img/studio_wushuang.png" alt="" />
				<div class="studio_transparent"><div style="background: #a5459c"></div></div>
				<div class="studio_introduction" style="background: #a5459c">
					<p class="studio_introduction_headline">邢吴双</p>
					<div class="studio_introduction_text">
						<p>中山大学媒体创意系</p>
						<p>2011级</p>
					</div>
					<p class="studio_introduction_subhead">视觉设计</p>
				</div>
				<p class="studio_introduction_close"> &lt; </p>
			</div>
			<div id="studio_work">
				<img src="img/studio_work.png" alt="" />
				<div class="studio_transparent"><div style="background: #e3cc29"></div></div>
				<div class="studio_introduction studio_hide" style="background: #e3cc29">
					<div class="studio_introduction_text">
						<p style="line-height: 55px">珠海市点点公益发展服务中心VI项目</p>
						<a>www.zhddgy.com</a>
						<p style="line-height: 55px">益家行VI项目</p>
						<a>www.yijiaxing.org</a>
					</div>
				</div>
				<p class="studio_introduction_close"> &lt; </p>
			</div>
			<div id="studio_jiaping">
				<img src="img/studio_jiaping.png" alt="" />
				<div class="studio_transparent"><div style="background: #e19d3c"></div></div>
				<div class="studio_introduction" style="background: #e19d3c">
					<p class="studio_introduction_headline">边家平</p>
					<div class="studio_introduction_text">
						<p>中山大学软件工程</p>
						<p>2011级</p>
					</div>
					<p class="studio_introduction_subhead">程序开发</p>
				</div>
				<p class="studio_introduction_close"> &lt; </p>
			</div>
			<div id="studio_why">
				<img src="img/studio_why.png" alt="" />
				<div class="studio_transparent"><div style="background: #dc5058"></div></div>
				<div class="studio_introduction studio_hide" style="background: #dc5058">
					<div class="studio_introduction_text">
						<p style="line-height: 40px; font-size: 15px">&ensp;&ensp;一方面，<span>萌芽中的NGO</span>往往由于缺乏资金，难以获得专业的形象设计、传播推广咨询支持；另一方面，<span>在校大学生</span>也常常缺乏实践机会，项目经验浅薄。</p>
						<p style="line-height: 40px; font-size: 15px">&ensp;&ensp;双方需求的契合点撞出一个维艾工作室——让在校大学生参与<span>公益协同设计！</span></p>
					</div>
				</div>
				<p class="studio_introduction_close"> &lt; </p>
			</div>
			<div id="studio_jiawei">
				<img src="img/studio_jiawei.png" alt="" />
				<div class="studio_transparent"><div style="background: #439e53"></div></div>
				<div class="studio_introduction" style="background: #439e53">
					<p class="studio_introduction_headline">王嘉威</p>
					<div class="studio_introduction_text">
						<p>中山大学软件工程</p>
						<p>2013级</p>
					</div>
					<p class="studio_introduction_subhead">程序开发</p>
				</div>
				<p class="studio_introduction_close"> &lt; </p>
			</div>
		
		</div>

		<div class="studio_contact">
			<img src="img/studio_contact.png" alt="" />
			<p>pr@yijiaxing.org</p>
		</div>

		<p class="studio_thank">&ensp;特别鸣谢&ensp;</p>

		<a href="http://www.cydf.org.cn"><img class="cooporation" src="img/studio_partner.png" alt=""></a>
		<a href="http://jlxd.cydf.org.cn"><img class="cooporation" src="img/studio_pic.png" alt=""></a>
		<a href="http://scd.sysu.edu.cn"><img class="cooporation" src="img/studio_logo.png" alt=""></a>
		<a href="http://ss.sysu.edu.cn/InformationSystem/"><img class="cooporation" src="img/studio_college.png" alt=""></a>

		<div class="studios">
			<h1>维艾工作室</h1>
			<p>我们成立于2013年12月15日，为萌芽中的NGO提供免费或低成本的设计服务，致力于提升公益传播的影响力</p>
			<p>同时，我们也成长于此</p>
			<p>We－i，不仅仅是“VI”的同音，还有“我们”和“我”</p>
			<p>——我们希望设计青年在这个团队中找到自己的位置，实现自己的价值</p>
			<br />
			<p>如果你是在校大学生，也关注公益、热爱设计，</p>
			<p>加入我们，或者，尝试建立一个助人助己的公益协同设计工作室吧！</p>
			<p>欢迎联系：shaoke.zhang@gmail.com</p>

		</div>
	</div>
</body>

</html>