	<import type="css" file="css.studio" />

	<!-- // <script type="text/javascript" src="js/studio.js"></script> -->

	<include file="Common/header" />

	<figure data-am-widget="figure" class="am am-figure am-figure-default">
	  <img src="__PUBLIC__/images/studio.png" alt="中山大学维艾工作室" />
	  <img src="__PUBLIC__/images/studio_text.png" alt="中山大学维艾工作室" />
	</figure>


	<ul data-am-widget="gallery" class="am-gallery am-avg-sm-2 am-avg-md-3 am-avg-lg-4 am-gallery-imgbordered" data-am-gallery="{ pureview: true}">
	  <li data-am-scrollspy="{animation: 'fade'}">
	    <div class="am-gallery-item">
        <img src="__PUBLIC__/images/studio_shaoke.png" alt="Shaoke 讲师" />
        <h3 class="am-gallery-title">中山大学媒体创意系</h3>
        <div class="am-gallery-desc">Shaoke 讲师</div>
	    </div>
	  </li>
	  <li data-am-scrollspy="{animation: 'fade', delay: 300}">
	    <div class="am-gallery-item">
        <img src="__PUBLIC__/images/studio_shaoxiong.png" alt="周少雄 程序开发" />
        <h3 class="am-gallery-title">中山大学软件工程<br />2012级</h3>
        <div class="am-gallery-desc">周少雄 程序开发</div>
	    </div>
	  </li>
	  <li data-am-scrollspy="{animation: 'fade'}">
	    <div class="am-gallery-item">
        <img src="__PUBLIC__/images/studio_qiaoyun.png" alt="徐俏云 用户研究/交互设计" />
        <h3 class="am-gallery-title">中山大学媒体创意系<br />2011级</h3>
        <div class="am-gallery-desc">徐俏云 用户研究/交互设计</div>
	    </div>
	  </li>
	  <li data-am-scrollspy="{animation: 'fade', delay: 300}">
	    <div class="am-gallery-item">
        <img src="__PUBLIC__/images/studio_jiaxin.png" alt="文嘉欣 用户研究/交互设计" />
        <h3 class="am-gallery-title">中山大学媒体创意系<br />2012级</h3>
        <div class="am-gallery-desc">文嘉欣 用户研究/交互设计</div>
	    </div>
	  </li>
	  <li data-am-scrollspy="{animation: 'fade'}">
	    <div class="am-gallery-item">
        <img src="__PUBLIC__/images/studio_lixiang.png" alt="" />
        <h3 class="am-gallery-title">中山大学媒体创意系<br />2011级</h3>
        <div class="am-gallery-desc">李想 视觉设计</div>
	    </div>
	  </li>
	  <li data-am-scrollspy="{animation: 'fade', delay: 300}">
	    <div class="am-gallery-item">
        <img src="__PUBLIC__/images/studio_jiehui.png" alt="吴洁慧 视觉设计" />
        <h3 class="am-gallery-title">中山大学媒体创意系 <br />2011级</h3>
        <div class="am-gallery-desc">吴洁慧 视觉设计</div>
	    </div>
	  </li>
	  <li data-am-scrollspy="{animation: 'fade'}">
	    <div class="am-gallery-item">
        <img src="__PUBLIC__/images/studio_xiaohang.png" alt="苏晓航 程序开发" />
        <h3 class="am-gallery-title">中山大学软件工程<br />2012级</h3>
        <div class="am-gallery-desc">苏晓航 程序开发</div>
	    </div>
	  </li>
	  <li data-am-scrollspy="{animation: 'fade', delay: 300}">
	    <div class="am-gallery-item">
        <img src="__PUBLIC__/images/studio_laiyuan.png" alt="赖渊 程序开发" />
        <h3 class="am-gallery-title">中山大学软件工程<br />2013级</h3>
        <div class="am-gallery-desc">赖渊 程序开发</div>
	    </div>
	  </li>
	  <li data-am-scrollspy="{animation: 'fade'}">
	    <div class="am-gallery-item">
        <img src="__PUBLIC__/images/studio_wushuang.png" alt="邢吴双 视觉设计" />
        <h3 class="am-gallery-title">中山大学媒体创意系<br />2011级</h3>
        <div class="am-gallery-desc">邢吴双 视觉设计</div>
	    </div>
	  </li>
	  <li data-am-scrollspy="{animation: 'fade', delay: 300}">
	    <div class="am-gallery-item">
        <img src="__PUBLIC__/images/studio_meixuan.png" alt="王美璇 平面设计/UI" />
        <h3 class="am-gallery-title">中山大学媒体创意系<br />2012级</h3>
        <div class="am-gallery-desc">王美璇 平面设计/UI</div>
	    </div>
	  </li>
	  <li data-am-scrollspy="{animation: 'fade'}">
	    <div class="am-gallery-item">
        <img src="__PUBLIC__/images/studio_jiaping.png" alt="边家平 程序开发" />
        <h3 class="am-gallery-title">中山大学软件工程<br />2011级</h3>
        <div class="am-gallery-desc">边家平 程序开发</div>
	    </div>
	  </li>
	  <li data-am-scrollspy="{animation: 'fade', delay: 300}">
	    <div class="am-gallery-item">
        <img src="__PUBLIC__/images/studio_jiawei.png" alt="王嘉威 程序开发" />
        <h3 class="am-gallery-title">中山大学软件工程<br />2012级</h3>
        <div class="am-gallery-desc">王嘉威 程序开发</div>
	    </div>
	  </li>
	</ul>

	<h1 class="am-serif">特别鸣谢</h1>
	<ul data-am-widget="gallery" class="am-gallery am-avg-sm-2 am-avg-md-3 am-avg-lg-4 am-gallery-default">
	  <li>
	    <div class="am-gallery-item">
	      <a href="http://www.cydf.org.cn" class="">
	        <img src="__PUBLIC__/images/studio_partner.png" alt="中国青少年发展基金会" />
	      </a>
	    </div>
	  </li>
	  <li>
	    <div class="am-gallery-item">
	      <a href="http://scd.sysu.edu.cn" class="">
	        <img src="__PUBLIC__/images/studio_logo.png" alt="中山大学与传播学院" />
	      </a>
	    </div>
	  </li>
	  <li style="margin-top: 60px">
	    <div class="am-gallery-item">
	      <a href="http://jlxd.cydf.org.cn" class="">
	        <img src="__PUBLIC__/images/studio_pic.png" alt="希望工程激励行动--友邦青年领袖计划" />
	      </a>
	    </div>
	  </li>
	  <li>
	    <div class="am-gallery-item">
	      <a href="http://ss.sysu.edu.cn/InformationSystem/" class="">
	        <img src="__PUBLIC__/images/studio_college.png" alt="中山大学软件学院" />
	      </a>
	    </div>
	  </li>
	</ul>

	<div class="introductions">
		<h1 class="am-serif">中山大学维艾工作室</h1>
		<p>我们成立于2013年12月15日，为萌芽中的NGO提供免费或低成本的设计服务，致力于提升公益传播的影响力，同时，我们也成长于此</p>
		<p>We－i，不仅仅是“VI”的同音，还有“我们”和“我”</p>
		<p>——我们希望设计青年在这个团队中找到自己的位置，实现自己的价值</p>
		<p>如果你是在校大学生，也关注公益、热爱设计，</p>
		<p>加入我们，或者，尝试建立一个助人助己的公益协同设计工作室吧！</p>
		<p>欢迎联系：shaoke.zhang@gmail.com</p>
	</div>

	<a href="javascript:void(0)" data-am-smooth-scroll class="toTop"></a>

 	<!--div class="header">
		<p>中山大学维艾工作室 &ensp; | &ensp; 提升公益传播正能量</p>
	</div>

	<div id="studio_all">
		<img src="__PUBLIC__/images/studio.png" style="width: 214.5px; height: 300px" alt="" />
		<img src="__PUBLIC__/images/studio_text.png" style="width: 443px; height: 40px" alt="" />

		<div id="studio_member">
			<div id="studio_who">
				<img src="	" alt="" />
				<div class="studio_transparent"><div style="background: #00aa90"></div></div>
				<div class="studio_introduction studio_hide" style="background: #00aa90">
					<div class="studio_introduction_text">
						<p style="padding-top: 30px">1个导师＋6个设计妹子＋5个程序猿</p>
						<p>来自中山大学传播与设计学院、中山大学软件学院</p>
						<p>男女老少咸鱼~~</p>
					</div>
				</div>
				<p class="studio_introduction_close"> &lt; </p>
			</div>
			<div id="studio_shaoke">
				<img src="__PUBLIC__/images/studio_shaoke.png" alt="" />
				<div class="studio_transparent"><div style="background: #db933d"></div></div>
				<div class="studio_introduction" style="background: #db933d">
					<p class="studio_introduction_headline">Shaoke</p>
					<div class="studio_introduction_text">
						<p>中山大学媒体创意系</p>
					</div>
					<p class="studio_introduction_subhead">讲师</p>
				</div>
				<p class="studio_introduction_close"> &lt; </p>
			</div>
			<div id="studio_lixiang">
				<img src="__PUBLIC__/images/studio_lixiang.png" alt="" />
				<div class="studio_transparent"><div style="background: #439e53"></div></div>
				<div class="studio_introduction" style="background: #439e53">
					<p class="studio_introduction_headline">李想</p>
					<div class="studio_introduction_text">
						<p>中山大学媒体创意系</p>
						<p>2011级</p>
					</div>
					<p class="studio_introduction_subhead">视觉设计</p>
				</div>
				<p class="studio_introduction_close"> &lt; </p>
			</div>
			<div id="studio_shaoxiong">
				<img src="__PUBLIC__/images/studio_shaoxiong.png" alt="" />
				<div class="studio_transparent"><div style="background: #008bba"></div></div>
				<div class="studio_introduction" style="background: #008bba">
					<p class="studio_introduction_headline">周少雄</p>
					<div class="studio_introduction_text">
						<p>中山大学软件工程</p>
						<p>2012级</p>
					</div>
					<p class="studio_introduction_subhead">程序开发</p>
				</div>
				<p class="studio_introduction_close"> &lt; </p>
			</div>
			<div id="studio_qiaoyun">
				<img src="__PUBLIC__/images/studio_qiaoyun.png" alt="" />
				<div class="studio_transparent"><div style="background: #a5459c"></div></div>
				<div class="studio_introduction" style="background: #a5459c">
					<p class="studio_introduction_headline">徐俏云</p>
					<div class="studio_introduction_text">
						<p>中山大学媒体创意系</p>
						<p>2011级</p>
					</div>
					<p class="studio_introduction_subhead">用户研究 ＋ 交互设计</p>
				</div>
				<p class="studio_introduction_close"> &lt; </p>
			</div>
			<div id="studio_jiehui">
				<img src="__PUBLIC__/images/studio_jiehui.png" alt="" />
				<div class="studio_transparent"><div style="background: #2170b4"></div></div>
				<div class="studio_introduction" style="background: #2170b4">
					<p class="studio_introduction_headline">吴洁慧</p>
					<div class="studio_introduction_text">
						<p>中山大学媒体创意系</p>
						<p>2011级</p>
					</div>
					<p class="studio_introduction_subhead">视觉设计</p>
				</div>
				<p class="studio_introduction_close"> &lt; </p>
			</div>
			<div id="studio_xiaohang">
				<img src="__PUBLIC__/images/studio_xiaohang.png" alt="" />
				<div class="studio_transparent"><div style="background: #505f76"></div></div>
				<div class="studio_introduction" style="background: #505f76">
					<p class="studio_introduction_headline">苏晓航</p>
					<div class="studio_introduction_text">
						<p>中山大学软件工程</p>
						<p>2012级</p>
					</div>
					<p class="studio_introduction_subhead">程序开发</p>
				</div>
				<p class="studio_introduction_close"> &lt; </p>
			</div>
			<div id="studio_what">
				<img src="__PUBLIC__/images/studio_what.png" alt="" />
				<div class="studio_transparent"><div style="background: #b9674c"></div></div>
				<div class="studio_introduction studio_hide" style="background: #b9674c">
					<div class="studio_introduction_text">
						<p style="line-height: 40px">组织在校大学生</p>
						<p style="line-height: 40px">为<span>公益组织</span>提供免费或低成本的设计服务</p>
						<p style="line-height: 40px">同时给<span>大学生</span>提供实践机会以增加项目经验</p>
					</div>
				</div>
				<p class="studio_introduction_close"> &lt; </p>
			</div>
			<div id="studio_jiaxin">
				<img src="__PUBLIC__/images/studio_jiaxin.png" alt="" />
				<div class="studio_transparent"><div style="background: #b9674c"></div></div>
				<div class="studio_introduction" style="background: #b9674c">
					<p class="studio_introduction_headline">文嘉欣</p>
					<div class="studio_introduction_text">
						<p>中山大学媒体创意系</p>
						<p>2012级</p>
					</div>
					<p class="studio_introduction_subhead">用户研究 ＋ 交互设计</p>
				</div>
				<p class="studio_introduction_close"> &lt; </p>
			</div>
			<div id="studio_how">
				<img src="__PUBLIC__/images/studio_how.png" alt="" />
				<div class="studio_transparent"><div style="background: #939393"></div></div>
				<div class="studio_introduction studio_hide" style="background: #939393">
					<div class="studio_introduction_text">
						<p style="line-height: 24px; font-size: 17px">－了解NGO的需求</p>
						<p style="line-height: 24px; font-size: 17px">－制定VI策略</p>
						<p style="line-height: 24px; font-size: 17px">－开展设计工作</p>
						<p style="line-height: 24px; font-size: 17px">－产品包括LOGO、办公</p>
						<p style="line-height: 24px; font-size: 17px">&ensp;&ensp;用品、服饰、网站、手</p>
						<p style="line-height: 24px; font-size: 17px">&ensp;&ensp;机应用</p>
					</div>
				</div>
				<p class="studio_introduction_close"> &lt; </p>
			</div>
			<div id="studio_laiyuan">
				<img src="__PUBLIC__/images/studio_laiyuan.png" alt="" />
				<div class="studio_transparent"><div style="background: #a0a131"></div></div>
				<div class="studio_introduction" style="background: #a0a131">
					<p class="studio_introduction_headline">赖渊</p>
					<div class="studio_introduction_text">
						<p>中山大学软件工程</p>
						<p>2013级</p>
					</div>
					<p class="studio_introduction_subhead">程序开发</p>
				</div>
				<p class="studio_introduction_close"> &lt; </p>
			</div>
			<div id="studio_meixuan">
				<img src="__PUBLIC__/images/studio_meixuan.png" alt="" />
				<div class="studio_transparent"><div style="background: #2170b4"></div></div>
				<div class="studio_introduction" style="background: #2170b4">
					<p class="studio_introduction_headline">王美璇</p>
					<div class="studio_introduction_text">
						<p>中山大学媒体创意系</p>
						<p>2012级</p>
					</div>
					<p class="studio_introduction_subhead">平面设计 ＋ UI</p>
				</div>
				<p class="studio_introduction_close"> &lt; </p>
			</div>
			<div id="studio_wushuang">
				<img src="__PUBLIC__/images/studio_wushuang.png" alt="" />
				<div class="studio_transparent"><div style="background: #a5459c"></div></div>
				<div class="studio_introduction" style="background: #a5459c">
					<p class="studio_introduction_headline">邢吴双</p>
					<div class="studio_introduction_text">
						<p>中山大学媒体创意系</p>
						<p>2011级</p>
					</div>
					<p class="studio_introduction_subhead">视觉设计</p>
				</div>
				<p class="studio_introduction_close"> &lt; </p>
			</div>
			<div id="studio_work">
				<img src="__PUBLIC__/images/studio_work.png" alt="" />
				<div class="studio_transparent"><div style="background: #e3cc29"></div></div>
				<div class="studio_introduction studio_hide" style="background: #e3cc29">
					<div class="studio_introduction_text">
						<p style="line-height: 55px">珠海市点点公益发展服务中心VI项目</p>
						<a>www.zhddgy.com</a>
						<p style="line-height: 55px">益家行VI项目</p>
						<a>www.yijiaxing.org</a>
					</div>
				</div>
				<p class="studio_introduction_close"> &lt; </p>
			</div>
			<div id="studio_jiaping">
				<img src="__PUBLIC__/images/studio_jiaping.png" alt="" />
				<div class="studio_transparent"><div style="background: #e19d3c"></div></div>
				<div class="studio_introduction" style="background: #e19d3c">
					<p class="studio_introduction_headline">边家平</p>
					<div class="studio_introduction_text">
						<p>中山大学软件工程</p>
						<p>2011级</p>
					</div>
					<p class="studio_introduction_subhead">程序开发</p>
				</div>
				<p class="studio_introduction_close"> &lt; </p>
			</div>
			<div id="studio_why">
				<img src="__PUBLIC__/images/studio_why.png" alt="" />
				<div class="studio_transparent"><div style="background: #dc5058"></div></div>
				<div class="studio_introduction studio_hide" style="background: #dc5058">
					<div class="studio_introduction_text">
						<p style="line-height: 40px; font-size: 15px">&ensp;&ensp;一方面，<span>萌芽中的NGO</span>往往由于缺乏资金，难以获得专业的形象设计、传播推广咨询支持；另一方面，<span>在校大学生</span>也常常缺乏实践机会，项目经验浅薄。</p>
						<p style="line-height: 40px; font-size: 15px">&ensp;&ensp;双方需求的契合点撞出一个维艾工作室——让在校大学生参与<span>公益协同设计！</span></p>
					</div>
				</div>
				<p class="studio_introduction_close"> &lt; </p>
			</div>
			<div id="studio_jiawei">
				<img src="__PUBLIC__/images/studio_jiawei.png" alt="" />
				<div class="studio_transparent"><div style="background: #439e53"></div></div>
				<div class="studio_introduction" style="background: #439e53">
					<p class="studio_introduction_headline">王嘉威</p>
					<div class="studio_introduction_text">
						<p>中山大学软件工程</p>
						<p>2013级</p>
					</div>
					<p class="studio_introduction_subhead">程序开发</p>
				</div>
				<p class="studio_introduction_close"> &lt; </p>
			</div>
		
		</div>

		<div class="studio_contact">
			<img src="__PUBLIC__/images/studio_contact.png" alt="" />
			<p>pr@yijiaxing.org</p>
		</div>

		<p class="studio_thank">&ensp;特别鸣谢&ensp;</p>

		<a href="http://www.cydf.org.cn"><img class="cooporation" src="__PUBLIC__/images/studio_partner.png" alt=""></a>
		<a href="http://jlxd.cydf.org.cn"><img class="cooporation" src="__PUBLIC__/images/studio_pic.png" alt=""></a>
		<a href="http://scd.sysu.edu.cn"><img class="cooporation" src="__PUBLIC__/images/studio_logo.png" alt=""></a>
		<a href="http://ss.sysu.edu.cn/InformationSystem/"><img class="cooporation" src="__PUBLIC__/images/studio_college.png" alt=""></a>

		<div class="studios">
			<h1>维艾工作室</h1>
			<p>我们成立于2013年12月15日，为萌芽中的NGO提供免费或低成本的设计服务，致力于提升公益传播的影响力</p>
			<p>同时，我们也成长于此</p>
			<p>We－i，不仅仅是“VI”的同音，还有“我们”和“我”</p>
			<p>——我们希望设计青年在这个团队中找到自己的位置，实现自己的价值</p>
			<br />
			<p>如果你是在校大学生，也关注公益、热爱设计，</p>
			<p>加入我们，或者，尝试建立一个助人助己的公益协同设计工作室吧！</p>
			<p>欢迎联系：shaoke.zhang@gmail.com</p>

		</div>
	</div> -->
