<!DOCTYPE html>
<html lang="zh-cn">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="keywords" content="益家行,公益,益家行公益,yijiaxing,public welfare,org">
	<title>益行 纪录</title>
	<link rel="stylesheet" type="text/css" href="css/record2.css">
	<link rel="stylesheet" type="text/css" href="css/include.css">
</head>
<body>
	<div class="exHead">
		<div class="header">
			<a href="index.php"><img src="img/logo.png"></a>
			<a href="index.php"><img src="img/outdoor_Reading.png"></a>
			<div id="nav">
				<a href="index.php" class="active"> 初识</a>
				<a href="fromHeart.php">从心出发</a>
				<a href="read.php">阅读推荐</a>
				<a href="aboutUs.php">关于益家人</a>
				<a href="problem.php" style="margin-right: 0">常见问题</a>
			</div>
		</div>
	</div>

	<div class="contents">
		<div class="imgDiv">
			<img src="img/record2_1.png" alt="渡船" />
		</div>
		<div class="imgDiv">
			<img src="img/record2_2.png" alt="小弟弟，我来带你走迷宫" />
		</div>
		<div class="imgDiv">
			<img src="img/record2_3.png" alt="务农途中" />
		</div>
		
		<div id="img_text">
			<p>
				<a style="color: #888686;" href="index.php">初识</a>
				<span> > </span>
				<a style="color: #888686;" href="index.php">益行·纪录</a>
				<span> > </span>
				<a style="color: #399ce1;" href="#">与愿意承担的人一起上路</a>
			</p>

			<img src="img/record2.png" alt="与愿意承担的人一起上路 By小草" />
		</div>


		<div class="text1">
			<p style="padding-top: 20px">旅行</p>
			<p>对我来说</p>
			<p>是与愿意承担的人一起上路</p>
			<p>否则就与自己走</p>
			<p style="padding-top: 50px;">一个人的旅行</p>
			<p>一群人的旅行</p>
			<p>只要是不霸道，特别自我为中心的人</p>
			<p>我都愿意与之同行</p>
		</div>

		<div class="text2">
			<p>大家都认为我是个公益人。其实在社会上做一些不妨碍自己、不伤害自己的事、不妨碍别人、不伤害别人的事，再以力所能及的心态，遇见之时，助一臂之力，每个人都是公益人。</p>
			<p class="text2_1">我也有力不从心的时候，但公益是我的一种生活态度。</p>
			<p class="text2_1">我的旅行从贵州开始，一个苗族的小山寨，黔东南剑河县南寨乡白路村，火车、汽车 、轮船、徒步山路，好有探险的味道。</p>
			<p class="text2_1">记得第一年去已是四年前的夏天，那时候山里没通车，我们运送过去的乒乓球台都是老乡和马，从小码头合力小心翼翼地运上山去，走了多久，已经不记得……之后每年我都要去几次，比回家还勤快。</p>
			<p class="text2_1">为什么那里如此吸引我？之后我还带了好些有兴趣同行的朋友一起去。那里的人勤劳淳朴，孩子可爱喜欢读书，每次去都有老乡热情的与我打招呼，还有贴心的招待。也可能是因为我们捐了图书过去，但无论如何，那种热情不是装出来的，是真诚的，是真实的。</p>
		</div>

		<div class="text1">
			<p style="padding-top: 40px">旅行</p>
			<p>于我来说</p>
			<p>一个珍贵的地方</p>
			<p>我喜欢旧地重游</p>
			<p>以感受我活着的意义</p>
			<p style="width: 580px">——那种被挂念和好久不见见面后的欢乐，令我满满的感动，也更加喜爱这里的人，珍惜这里的友情。</p>
		</div>

		<div class="text2">
			<p style="width: 590px">2014年是我的间隔年，我在白路苗寨小学里呆了一个学期，给学前班的小朋友上课、讲故事，周末和村民一起收割，一起捉田鱼……哈哈～我总是捉不到！</p>
			<p style="width: 590px">山里空气好，常常可以在早上看云海；在夜晚看星星，我喜欢在晴朗的夜下，躺在操场，望着满天繁星，还时不时的有流星划过，多么惬意啊！</p>
			<p style="width: 590px">也是这一个学期，让我更深刻的认识了这里。这里自然环境健康舒适，蔬菜好甜，肉好香。我最爱的还是这里的田鱼和辣椒。猪猪每日吃的都是大米南瓜青菜。这里的动物好幸福！下辈子做畜生都要投胎到这里！</p>
			<p>可是这里的人，收入很少，大丰收的稻米每家每年都吃不完。这里的人都出去打工，留下的吊脚楼里有空房间，这里的人很为孩子的未来发愁……</p>
			<p>但这里的人勤劳，这里风景美、空气好、还有好吃哒！虽然乡村比不上城市看着干净，但是看不见的干净更让人安心——那就是化学污染少。我不说无化学污染，因为那是大话。</p>
		</div>

		<img id="record2_4" src="img/record2_4.png" alt="" />

		<div class="text1">
			<p>旅行</p>
			<p>于我来说</p>
			<p>好的地方就要分享</p>
		</div>

		<div class="text2">
			<p>也许在这里就会遇见志同道合的朋友，一起吃过苦、一起享过乐，更能凸显大人类的真情。</p>
			<p>同我一起来过的朋友大部分都喜欢这里，也更喜欢聚在一起。这群互帮互助的小伙伴吧，人都是被相互影响的，你对他好，他也会对你好。</p>
			<p>有句话说，重要的不是去哪里，重要的是一起同行的人。</p>
			<p style="padding-bottom: 50px">这么独特的路线，希望享受美好的东西，就要付出爬山吃苦的代价。愿意选择的人，一定是乐意承担的人。与这样的人一起同行，一定不会错，你感觉呢？</p>
		</div>

		<div id="prevR"><a href="record1.php">上一篇：白路随想</a></div>
		<div id="prevL"><a href="record3.php">下一篇：儿童为什么不要去旅行？</a></div>
		<div class="clear"></div>

	</div>

	<?PHP include 'bottom.php'; ?>

</body>

</html>