<!DOCTYPE html>
<html lang="zh-cn">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="keywords" content="益家行,公益,益家行公益,yijiaxing,public welfare,org">
	<title>益行 纪录</title>
	<link rel="stylesheet" type="text/css" href="css/record1.css">
	<link rel="stylesheet" type="text/css" href="css/include.css">
</head>
<body>
	<div class="exHead">
		<div class="header">
			<a href="index.php"><img src="img/logo.png"></a>
			<a href="index.php"><img src="img/outdoor_Reading.png"></a>
			<div id="nav">
				<a href="index.php" class="active"> 初识</a>
				<a href="fromHeart.php">从心出发</a>
				<a href="read.php">阅读推荐</a>
				<a href="aboutUs.php">关于益家人</a>
				<a href="problem.php" style="margin-right: 0">常见问题</a>
			</div>
		</div>
	</div>

	<div class="contents">
		<div id="img_text">
			<p>
				<a style="color: #888686;" href="index.php">初识</a>
				<span> > </span>
				<a style="color: #888686;" href="index.php">益行·纪录</a>
				<span> > </span>
				<a style="color: #399ce1;" href="#">白路随想</a>
			</p>

			<img style="height: 717px" src="img/record1.jpg" alt="白路随想 By邓武浩" />
		</div>
		<p class="text"><span style="font-size: 18px">每</span>个人的心中都会有一个关于旅行的梦，不管是想要逃离现实，还是想要追求旅行中的风花雪月，亦或者是增长知识，丰富见闻，<span class="blueSpan">从地理距离说，旅行不过是从自己活腻了的地方到别人活腻的地方，</span>从意识形态上来讲，旅行不过就是满足自己的精神需求，按照文艺青年的说法就是，在旅途中找回自己，发现另一个自己，让自己的灵魂有所归依等等形而上学的空大虚。</p>
		<p class="text">很幸运的是，<span class="blueSpan">我也有一个关于旅行的梦，</span>读书那会，老师问我们长大后的理想是什么，有做医生的，科学家的，教师的，开火车飞机的，当然还有老板的，当官的，而我却梦想着做一名导游，游遍天下的山山水水，看尽世间的民俗风情，尝遍各地的稀奇美食，如今我是一名导游，尽管还未能走遍世界，但我一直在努力，离开大学两年了，随着书生意气的散去，慢慢的将自己沉淀下去，看的多了，眼见自然就宽了，所以很多的时候，我一直在问自己，旅行的意义到底在哪，一直未找到答案，风景再美于我而言，不过就是世间的俗物罢了，走到哪里都是商店，都是吆喝叫卖，都是假货次货横行，都是赤裸裸的金钱闪闪，还有拥挤不堪的人群。厌倦了世俗的旅行，就必须找到另一种方式进行填充，尽管我一直在找寻，可客观现实，却背道而驰，<span class="blueSpan">始终无法找到适合自己的。</span></p>
		<p class="text">属于巨蟹座的我，身上一直散发着无私的爱与情。也许我在等的，不过就是那一句召唤而已，<span class="blueSpan">一直有做公益的心，却苦于找不到可以随从的路，</span>或者说是团体，所以在朋友圈看到那则招募信息，我毫不犹疑的就下定决心要前往，于是各种请假，各种推约，最终我踏上了前往贵州的火车，开始了一段从未有过的旅行，叫做公益旅行。很多朋友都在问，你是去旅行呢，还是去做公益呢？按照传统的思维就是，两者必须是分开的，旅行就意味享受，意味着景区与酒店，公益就是做好事，捐钱捐物，完了还得吃苦受劳。我也是世间人，也对公益旅行产生过怀疑，可是见到那一脸风尘仆仆的小草姐姐，我就知道这将会是一场充满意义的旅行，从他口中得知，白路虽如世外桃源，却也是摆脱不了平穷落后四个字，脑子里全是关于苗家山寨的画面。</p>
		<p class="text">火车缓缓地驶出站台，一路前行，车窗外面的风景一路倒退，有人说最美的风景在路上，平常走路太匆匆，错过的往往是最美的风景，终点固然美丽，却远不及这车窗外的惊鸿一瞥，足以摄人心魄，景由心生，说的大概就是这个理吧，当一个人可以肆意的放下包袱，心无所系的开始一段旅程，那种不言而喻的兴奋，也许只有尝试过的人懂吧，这时，就算在平常不过的一条河流，一座高山，在人眼里，都是最美的风景，望着窗外，思绪飘飞，自己有多久没有这样轻松过，很久了吧。当同行的伙伴，热火朝天的聊着各自趣事，原不喜热闹的我，也参与到了这一场关于公益与旅行的故事中去。从说话谈吐，到行为举止，给我的第一感觉就是，小草姐姐是一位很要强的人，来自东北的白山黑水，<span class="blueSpan">自然也就多了一份闯关东人的坚毅与执着，</span>也就是这样一位领路人，带我们走进了白路。</p>
		<p class="text">每个人从出生到死亡，都会经历无数或开心，或悲伤，或无奈的事，都说前程往事，过了就散了，<span class="blueSpan">再说出来就成了故事，留在脑海里就成了记忆。</span>很多的事情，我宁愿它是记忆，也不愿把它变成故事，因为并不是人人都愿意消费你的故事。火车上，有人吃食闲聊，有人憨憨大睡，也有人棋牌消遣，也有人呆坐望天，似有神思。火车里的百态人生，我们一庸庸俗人，看不懂也猜不透，只知道每个人都会有目的地，到站了就下车，有人下车就有人上车，于是原来的位置，将又会是另一番风景，如此循环往复，无始无终。庆幸的是，我知道自己将会在那一站下车，但我不知道的是，下一个上车的人，会继续延续我的故事吗？如若不是，但愿他比我精彩。同行的伙伴问我为什么会参加这一次旅行，其实我没有特别明确的目的，看风景也罢，见世风人情也罢，不过就是完成我只是想出去走走的私心，关于公益，我个人力量太过于渺小，说要带来或说带去什么，最后不过是为了老了以后，拿着蒲扇，坐着摇椅，打发闲情，多积累了一点谈资。但我愿意，以我微小的行动，渺小的力量，去感染身边每一个人，所谓积少成多，人人参与，小草的公益之路，将会一马平川，我相信。</p>
		<p class="text"><span class="blueSpan">走过山，跨过水，一路颠簸，一路风尘，行走的力量，有时真的可以让人忘记饥饿与寒冷。</span>船舷外的这条河叫做清水江，原本高海拔山地的气温已是让人寒颤，交织着水面呼啸而来的江风，夹杂着股股江水的腥味，夜幕下的行路人，多了一份对于前途的恐惧与迷茫，也就是这样的一条河川，养活了两岸成千上万的苗家儿女，旧时的苗家山寨，与外界的交通多有不便，进出大山，还得靠这条河行船，才能把生活所需，源源不断的输送到各个山寨。这是大自然对苗家人的最好的馈赠，只是随着近几年的经济大开发，外来人口的大量涌入，原本和谐的人与自然，也正面临着一场大变革，外面世界对于清水江里的清水鱼的需求量逐年上升，这也就进一步的加剧了清水鱼的养殖量，所直接导致的后果就是，环境的恶化。看着那一大片的水浮莲，清水江的水质拯救，已是到了刻不容缓的地步了。下了船，负重而上，清水江慢慢的消失在夜色中。关于夜，我是不会去抗拒的，尤其是下雨的夜晚，伏窗听雨，那是再诗意不过的了，只是现在，除了漫天闪耀的星星，还有就是那泥泞的道路，所有的诗意，都淹没在急切到达目的地的渴望中去。</p>
		<p class="text">古语有云，一方水土养一方人，一方人也就造就了一方特有的民俗风情，深藏大山里苗家文明，最早起源可以追溯至五六千年前的炎黄时代，当时的长江中下游生活着一支部落 ，叫做九黎联盟部落，部落首领是蚩尤，后来由于领土扩张，资源抢夺，与当时生活在黄河，长江中上游的炎黄联盟展开了激烈的厮杀，最后战败的蚩尤被擒杀，九黎联盟彻底的失败，退回南方，直到三苗时期，逐渐强大的苗家联盟开始了新一轮的争夺大战，才有了余秋雨笔下的“舜逐三苗于三危”的历史。为了躲避战乱，开展生产，战败的苗家祖先，不得不选择隐居深山，开荒种地，这才有了我们现在看到的光辉灿烂的苗家文明，很庆幸，能够踏足这块神奇的土地，白路村，展留村，九龙村，这几个村庄是典型的苗族村寨，<span class="blueSpan">传统的吊脚楼，酸爽的饮食，大气而精致的苗服，高亢嘹亮的苗族飞歌，所有电视镜头里关于苗族的元素，在这里都可以找到印记，</span>当然还有热情好客的苗家老乡。龙老师作为一名纯正的苗家汉子，自是有山一般的意志，铁定了的教书育人，就不曾离开这片山水，老一辈的苗民，已是生活不易，再穷也不能穷了教育，也许走出大山的方式可以有很多种，但是按照龙老师的说法，读书上进，是最好的方式，所以不管客观条件如何艰苦，几十年来，风雨未改，毅然决然的选择了这片土地，我是很佩服他的。</p>
		<div class="text_img">
			<img src="img/record1_2.jpg" alt="苗家老乡" />
			<div></div>
			<span>苗家老乡</span>
		</div>
		<p class="text">在白路的这几天，收获了很多的感动，来自苗家老乡，来自同行的伙伴，来自那五十几个学生。这里没有标准的足球场，<span class="blueSpan">一个水瓶，一个纸团，就是足球，</span>大家也乐此不疲；这里没有像样的图书馆，寥寥无几的图书，冬进寒风，夏入雨水的木质隔离房，就是图书馆；这里没有高大的教学楼，一座建于上世纪的木质吊脚楼，早已倾斜十五度，只要稍微大力的跺两下脚，就像是要坍塌了一样，而我们就是在这里上课.......</p>
		<p class="text">外面的世界很精彩，这里的世界太无奈，尽管物质上很缺乏，但是<span class="blueSpan">我很少看到学生眼里会漏出伤感之色，反倒是多了一份来自大山的坚韧与刚毅，</span>每天上课下课，都是开开心心的，吃饭睡觉，玩耍打闹，相对于很多城市里的同龄人，他们更显的活泼灵动。和他们呆在一起，很容易<span class="blueSpan">被他们的真诚感染，</span>相对于我们这些外来人，他们少了很多的防范心里，只是纯粹的想和你玩，想和你说说话，或许在他们的日常教育里，是没有拒绝陌生人这一项的，或者是他们骨子里就有容纳一切陌生人的习惯。也就是和他们在一起，才可以肆无忌惮的获取正能量。</p>
		<p class="text">待续 ...... <img style="width: 31px; height: 27px" src="img/FlyingBook.png" alt="" /></p>
		<p></p>

		<div id="prevR"><a href="index.php">返回上一级</a></div>
		<div id="prevL"><a href="record2.php">下一篇：与愿意承担的人一起上路</a></div>
		<div class="clear"></div>
	</div>
	
	<?PHP include 'bottom.php'; ?>

</body>

</html>