<!DOCTYPE html>
<html lang="zh-cn">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="keywords" content="益家行,公益,益家行公益,yijiaxing,public welfare,org">
	<title>益行 纪录</title>
	<link rel="stylesheet" type="text/css" href="css/record3.css">
	<link rel="stylesheet" type="text/css" href="css/include.css">
</head>
<body>
	<div class="exHead">
		<div class="header">
			<a href="index.php"><img src="img/logo.png"></a>
			<a href="index.php"><img src="img/outdoor_Reading.png"></a>
			<div id="nav">
				<a href="index.php" class="active"> 初识</a>
				<a href="fromHeart.php">从心出发</a>
				<a href="read.php">阅读推荐</a>
				<a href="aboutUs.php">关于益家人</a>
				<a href="problem.php" style="margin-right: 0">常见问题</a>
			</div>
		</div>
	</div>

	<div class="contents">
		<p id="img_text">
			<a style="color: #888686;" href="index.php">初识</a>
			<span> > </span>
			<a style="color: #888686;" href="index.php">益行·纪录</a>
			<span> > </span>
			<a style="color: #399ce1;" href="#">儿童为什么不要去旅行？</a>
		</p>

		<h1 style="font-size: 24px">儿童为什么不要去旅行？</h1>
		<h2>——对旅行的一种反思</h2>
		<h3 class="preface">作者前言：这个题目不是为了博人眼球, 你也别着急去批判, 昨天我去听了"童书妈妈三川玲"的讲座, 感慨颇多, 要问为什么回来写了这篇文章, 容我再多介绍一些背景. </h3>
		<p>   "童书妈妈三川玲"过去是童书编辑, 有了孩子之后, 阅读了家教类图书排行前200位的书籍, 开始撰写与此相关的文章, 乘着微信公众号的东风, 加上深厚的编辑推广功底, 基于与读者的大量真实调研信息, 带着自己鲜明的立场观点, 她的公众号获得了前所未有的成功. 三川老师希望能不说一句违心的话, 通过文章在家长、孩子和学校之间进行沟通, 以期能带动教育转变. </p>
		<p>昨天, 她特意提到一篇被转发最多的文章《儿童为什么要去旅行》, 这篇文章被境内外多家旅游机构采纳, 三川老师调侃这是自己单篇收入最贵的文章, 为此收获了近30万的酬劳. </p>
		<p>我尽量把以上描述写的中性一些, 没有艳羡也没有不屑, 回来我认真读了《儿童为什么要去旅行》后, 开始怀疑这其实是一篇定制文章（这是我的推测, 如果不犯法的话, 建议大家也去看一下<a href="http://blog.sina.cn/dpool/blog/s/blog_4c23fcb80101tllp.html?ref=weibocard&from=singlemessage&isappinstalled=0" target="_blank">［点击查看］</a></p>
		<p> "人云亦云"和"人不云, 我亦不云"在我们这个时代太多了, 一篇被广泛转发的文章, 不提经济收入, 就对读者本身的影响来看, 它的坏处就像它的好处一样多. 儿童与旅行的关系, 并不只有这一个角度, 所以有了今天这篇文章《儿童为什么不要去旅行》, 不是挑战, 不求闻达, 就是个人的表达. 微信的广告语说得好：再小的品牌, 话总是让说的. </p>
		<img src="img/record3.png" alt="贵州白路小学的孩子, 姐姐带着弟弟走迷宫" />
		<p style="text-align: center" >贵州白路小学的孩子, 姐姐带着弟弟走迷宫</p>
		
		<div class="title">
			<p>不要带儿童去旅行</p>
			<p>以"长见识"的名义绑架了家庭</p>
		</div>
		<p>经济水平的提高, 让孩子全面发展的渴望, 让儿童旅行变成热门, 各种"去哪儿"火爆, 各种驴啊、牛啊的层出不穷, 从每个周末的公园游, 到五一、十一的国内游, 再到寒暑假的境外游学、夏令营, 旅行费用, 已经继择校费用、兴趣班费用之后, 位列第三大教育花钱杀手. </p>
		<p>   在"长见识"的背后暗流涌动的是消费层次的较量：你带不带孩子出去玩？你带到哪里去玩？你们住什么酒店？孩子的玩伴都去过哪里？你们买什么礼物回来给老师同学？这一个假期的出行, 在孩子的作文里怎么被描述？</p>
		<p> 放假前后, 在妈妈们接孩子放学的聚点, 在办公室有孩子的父母中午吃饭的时候, 在你跟邻居家长碰面的寒暄里, 聊得都是"放假你们去哪啊", 这一句话背后, 体现的不是你的教育观念, 而是你有钱有闲吗？你玩得起吗？不管你是真心想带孩子出去"长见识", 还是比较心做祟, 不管你愿意不愿意, 不管你的经济实力如何, 你都被卷入这阵风中, 不能不去, 也不得明辨. </p>
		<p class="boldP">为炫耀而去旅行, 不如不要去！</p>

		<div class="title">
			<p>不要带儿童去旅行</p>
			<p>见到了, 不等于长了见识</p>
		</div>
		<p>城市化生活带来了玩伴匮乏、自然接触匮乏, 电子设备和大型游乐场泛滥, 为弥补这一缺失, 我们选择带孩子出行. </p>
		<p>可是我们带孩子去香港、去韩国, 去马尔代夫, 去欧美, 现在还推出了最适合带孩子去的十家度假酒店……, 这些量身定做的高大上旅行, 只是把孩子从你家门口商场里的小游乐场, 带到了一个更大的游乐场, 从一个城市的海洋公园, 带到另一个城市的动物园、海洋公园…… </p>
		<p> "见到没见过的"和"长了见识"不能划等号, 昂贵的投入, 带来的并不是与之相等的见识增长, "孟母三迁"为的是让孩子在"好环境"中得到熏陶, 到现代却逐步演变成对"物质繁荣"的嘘唏感叹. </p>
		<p>三川老师提到的所谓世界观、人生观, 在这些更豪华, 更现代的环境中, 得到的多是享乐与消费, 如果我们一味强调旅行, 而不去审视什么样的旅行, 最后结果就是, 大家拿钱给航空公司和旅游公司做贡献. </p>
		<p><span class="boldP">为享乐而去的旅行, 不如不要去！</span>也许你会说, 我带孩子去的都是户外, 不是高级场所, 那么下面一段是说给你听的. </p>

		<div class="title">
			<p>不要带儿童去旅行</p>
			<p>把人生体验还给孩子</p>
		</div>
		<p> "在旅途中, 看到各种各样的生活, 思考别人为什么活, 自己应该怎么去活, 旅途所见与内心所遇结合起来, 明亮了眼眸, 充盈了精神, 体验了生命, 改变了人生", 这是三川老师在文章中提到的旅行的意义, 这其中更多是想当然的"我认为"和"我以为". </p>
		<p>小孩子, 尤其是学龄前儿童, 不管她到哪, 她最想去的还是游乐场玩, 那么多名胜古迹她不在乎, 不感兴趣, 于是大人硬要她看, 还硬要她看出点什么, 实在可恨可笑. </p>
		<p>一个孩子, 也许乐意对着马路牙子发呆一上午, 而不在意是中国的马路牙子还是外国的, 这是她发自内心的探索过程. </p>
		<p>孩子到底能从中看到什么, 我们无从得知, 但有一点是肯定的, 她看到的, 肯定跟大人看到的不一样, 所以, 所有大人以为的旅行目的, 从头到尾都是错的. 回想自己的成长经历, 当你真正开始思考"人生的意义"、思考"我为什么存在"的时候, 你才对自己和别人要"怎么活着"感兴趣, 才有探索的欲望, 甚至有人到了成年, 不也是浑浑愕愕无明的活着. </p>
		<p>为什么把那些, 孩子十几岁要跟同龄人结伴而行的地方, 在小时候就由你带着他去呢？等到他大了, 想要自己探索这个世界的时候, 看到你们曾经在各个景点照的照片, 你觉得他还有兴趣再去一次吗？很多时候, 我们带孩子转遍全世界的结果, 不是让他对这个世界有新的"认识", 只是他被迫在你的安排下, 完成了家长的夙愿. </p>
		<p>没有一个孩子喜欢这样的旅行, 是的, 儿童不要这样的旅行. 这跟你让他去学钢琴, 让他考好成绩有什么不同的高级之处吗？行万里路长见识, 长了见识以后呢, 为了孩子的竞争力更强, 然后找个好工作, 有一个你认为意义上的好生活, 这与孩子的幸福有一毛钱关系吗？</p>
		<p>当今的教育, 就像这发疯的儿童旅行一样, 以"为孩子好"的名义不及思索的用一件错事去弥补另一件错事. </p>
		<p class="boldP">没有欲望去探索的旅行, 不如不要去！</p>

		<div class="title">
			<p>不要带儿童去旅行</p>
			<p>旅行对孩子的意义取决旅行对父母的意义</p>
		</div>
		<p>我们希望孩子读万卷书, 也能行万里路. 至于他长大以后, 是不是闭关狭隘, 取决于你对旅行的兴趣和行动. 我们带着孩子出去, 全是围着孩子转, 不停的告诉孩子看, 你从中看到了吗？</p>
		<p>这就跟兴趣班是一样的, 一个没有业余爱好的家长, 培养不出有艺术情趣的孩子, 孩子学的是父母, 你先去行万里路, 注意, 不是为了带孩子出去才行万里路, 而是因为你自己对旅行感兴趣. 你能做到吗？</p>
		<p>不知道你们有没有被装到笼子, 带到野生动物园的经历, 笼子外那些悠闲的动物, 是如何看我们呢？其实, 很多旅行无处不在牢笼之中, 我们经常自欺       欺人的为旅行而旅行, 你真的从中体会到了你讲的那些意义吗？</p>
		<p class="boldP">对旅行没有热爱的父母, 不如不要带孩子去！</p>
		<div class="title">
			<p>不要带儿童去旅行</p>
			<p>对生活的观察和思考, 不在酒店和景点里</p>
		</div>
		<p>不管走到哪, 我们住的是标准化的酒店, 看得是大门票套着小门票的景点, 甚至吃喝, 都是在各地都有的连锁快餐店里解决. 难道在名胜古迹照了相, 就算是旅行吗？等我们离开的那一刻, 我们于这个新的城市, 这个城市的生活, 还是一片陌生, 或者说是根本没有过融入和接触. </p>
		<p>简单的参观游览, 拿回来的一堆照片, 那不是真正的旅行. 你一定要在某个地方居住一段时间, 才能体会当地人的生活和风土人情. 走马观花式的旅游, 除了身体的疲惫和人云亦云的感受, 哪里会有对生活、对生命的观察和思考？</p>
		<p>如果你能在假期跟某个家庭互换, 让孩子坐上当地的公交车, 去当地的集市, 你有足够的时间, 让孩子去村里那条小河汤水, 让她坐在门口的老树下打盹, 让她交到几个当地的小朋友……这段经历给她带来什么, 我们不知道, 但我们知道的是, 她经历的, 都不是人为制造的, 都是不卖票的真实生活……</p>
		<p class="boldP">走马观花的旅行, 要它何用？</p>
		<div class="title">
			<p>不要带儿童去旅行</p>
			<p>那怎么办？</p>
		</div>
		<p>以上旅行, 我坚决提倡儿童不要去, 那是不是就不要带孩子出去了？天天在家观察马路牙子？</p>
		<p>
			<span class="closedP">当你明白旅行与否可以不畏压力, 不为炫耀……</span>
			<span class="closedP">当你明白享乐主义盛行之下的变味旅行……</span>
			<span class="closedP">当你不去给孩子安排不适合他的旅行, 剥夺他的体验……</span>
			<span class="closedP">当你能首先重拾自己对旅行的热爱……</span>
			<span class="closedP">当你真正找到观察生活之源头……</span>
			<span class="closedP">你就知道怎么去做了……</span>
		</p>
		<p>
			<span class="dotP"> ▪ &ensp;&ensp;&ensp;当她很小, 渴望在草地上打滚, 抓虫子, 渴望跟小朋友玩过家家的时候, 我不会只为满足自己, 痴迷于带着她长途劳顿……</span>
			<span class="dotP"> ▪ &ensp;&ensp;&ensp;当他长到足够大一点, 允许他自由安排自己和小伙伴的假期, 一起去经历这个世界……</span>
			<span class="dotP"> ▪ &ensp;&ensp;&ensp;当她在一篇《望天门山》读过之后, 对我说：我也想去天门山看看的时候, 我会带她去……</span>
			<span class="dotP"> ▪ &ensp;&ensp;&ensp;当我在坚持户外活动, 她开始感兴趣的时候, 我会让她跟着去……</span>
			<span class="dotP"> ▪ &ensp;&ensp;&ensp;当我有机缘, 真的在给她设计生活经历的时候……</span>
		</p>
		<p>是的, 这才是起点. </p>
		<p>
			<span class="closedP">不是只有坐飞机出门才叫旅行；</span>
			<span class="closedP">没有思考与欲望在先, 不会有所谓的新发现；</span>
			<span class="closedP">没有榜样, 再多的安排都是徒劳. </span>
		</p>
		<p> "儿童要旅行"已经被妖魔化, 又被这样的大V强调之后, 更是浩浩荡大势所趋. 不明所以, 不得始终, <span class="boldP">儿童不要去旅行, 只是期望父母们不要"人云亦云"的带孩子去, 给孩子留些体验, 做她这个年龄该做的、想做的事情. </span></p>
		<p>讲到这里, 你应该清楚, 我之所以起这样的文章题目是因为与另一篇文章的对应, 这世上凡是绝对的事情都是矫枉过正, 既然这样, 就写到这吧. </p>
		<p class="lineP">以上内容转载自微信公众号［北京华德福社区］：waldorfedu</p>
		<div class="clear"></div>

		<span>阅读更多:</span>
		<a class="readA" href="http://mp.weixin.qq.com/s?__biz=MjM5MzgxNDMwMA==&mid=205633451&idx=2&sn=45a91497b6535561cfa58fb14e43e3f3&scene=1&key=8ea74966bf01cfb65b8adaba63fcbafc8cfc09c4514f9ae300f477504368f6dce8db68e1493a423ecc1b7435240ab963&ascene=1&uin=MTYzNDc3MTgwMQ%3D%3D&devicetype=webwx&version=70000001&pass_ticket=4rxyZeSN%2BhspA0oBQKDWnBscxb5KJkh7GDOjsbAq3TENyoQeAJcPxK8M7ylxvoxf" target="_blank">爱孩子的三个阶段：陪伴、教练、尊重</a>		
		<a class="readA" href="http://mp.weixin.qq.com/s?__biz=MzAxNDAyNTUyMA==&mid=337624985&idx=1&sn=a8fc675730b15c54b39ed8883acaaa0f&scene=1&key=8ea74966bf01cfb62b1895cad837bab1f9d8a43fbe2d833e1deeed302ecc1723b4c45ed6f3ea740012762763b9355598&ascene=1&uin=MTYzNDc3MTgwMQ%3D%3D&devicetype=webwx&version=70000001&pass_ticket=4rxyZeSN%2BhspA0oBQKDWnBscxb5KJkh7GDOjsbAq3TENyoQeAJcPxK8M7ylxvoxf " target="_blank">让孩子懂得尊重和鼓励别人更重要</a>		

		<div id="prevL"><a href="record2.php">上一篇：与愿意承担的人一起上路</a></div>
		<div id="prevR"><a href="index.php">返回上一级</a></div>
		<div class="clear"></div>

	</div>

	<?PHP include 'bottom.php'; ?>

</body>

</html>