<header data-am-widget="header" class="am-header am-header-default">
	<div class="am-header-left am-header-nav">
		<a href="{:U('index')}">
			<i class="am-header-icon am-icon-home"></i>
		</a>
	</div>
	<h1 class="am-header-title">益家行</h1>
	<div class="am-header-right am-header-nav am-dropdown" data-am-dropdown>
		<a href="javascript:void(0)" class="am-dropdown-toggle" data-am-dropdown-toggle>
			<i class="am-header-icon am-icon-bars"></i>
		</a>
		<ul class="am-dropdown-content">
			<li><a href="{:U('fromHeart')}">从心出发</a></li>
			<li><a href="{:U('read')}">阅读推荐</a></li>
			<li><a href="{:U('record')}">益行纪录</a></li>
			<li><a href="{:U('aboutUs')}">关于益家人</a></li>
			<li><a href="{:U('problem')}">常见问题</a></li>
			<li class="am-divider"></li>
			<li><a href="{:U('studio')}">开发团队</a></li>
		</ul>
	</div>
</header>
