<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="keywords" content="益家行,公益,益家行公益,yijiaxing,public welfare,org">
	<title>益家行户外阅读拓展中心</title>
</head>
<body>

	<div class="container">
		{__CONTENT__}
	</div>
	
	<block name="bottom"><include file="Common/bottom" /></block>
	
	<import file="js.jquery_1_11_3_min" />
	<import file="js.jquery_ui_min" />
	<import file="js.amazeui_min" />
	<import file="js.index" />

</body>
</html>
