<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="keywords" content="益家行,公益,益家行公益,yijiaxing,public welfare,org">
	<title>益家行户外阅读拓展中心</title>
</head>
<body>
	<block name="header"><include file="Common/header" /></block>

	{__CONTENT__}
	
	<block name="bottom"><include file="Common/bottom" /></block>
	
	<import file="js.jquery-1.11.3.min" />
	<import file="js.jquery-ui.min" />
	<import file="js.amazeui.min" />
	<import file="js.index" />

</body>
</html>
